# ROADMAP (TODO -> Apagar depois)

1. Definir a diferenca metodologica entre as duas fontes
2. Tornar os dados comparaveis
3. Quantificar a diferenca entre os dois sistemas (Tom e Gov) em horas e percentual
4. Padroes ou distorcoes por escola, funcao ou mes

Passos
1. Cruzar dados -> Tom e Base Gov (entender as métricas de carga horária)
    1.1 Diferença entre regencia e nao regencia
    1.2 Demissão (como avaliar)
    1.3 Entender quantas horas, cada professor, por mes, trabalhou (cruzando os dados entre estimativa Tom e 
    estimativa GOV)
    1.4 Identificar discrepencias (horas faltantes)
    
2. Calcular pagamento por mês a cada professor baseado no cáculo de regencia e não regencia e por escola
3. Identificar quantidade de horas totais de professores em cada escola por tipo de funcao, valor, e CH


# **O desafio**

Atualmente, a Tom atua na gestão da educação pública em parceria com o gorverno. O desafio parte da necessidade da Tom identificar e analisar as principais diferenças entre um de seus serviços, a contratação e gestão de carga horária de professores.

In [475]:
# Manipulação dos dados
import pandas as pd
import numpy as np

# Visualização dos dados
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt

from warnings import filterwarnings

filterwarnings('ignore')

# Manipulacao de arquivos e caminhos
from pathlib import Path

ROOT_DIR = Path().cwd().parent
DATA_DIR = ROOT_DIR / "data"
FILE_PATH = DATA_DIR / "data.xlsx"

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

sns.set_theme(
    context="notebook",
    style="whitegrid",
    palette="colorblind",
    font="Arial",
    font_scale=1.0
)
plt.rc("figure", figsize=(12, 6), dpi=120)

In [476]:
sheets = pd.ExcelFile(FILE_PATH)

names = sheets.sheet_names

names.remove('Auxiliares>>>>')

In [477]:
SHEET_KEYS = {
    i: name
    for i, name in enumerate(names)
}

SHEET_KEYS

{0: 'Resumo Executivo',
 1: 'Análise CH por Escola',
 2: 'BD_Tom Folha',
 3: 'BD_SistemaGov',
 4: 'Valores por escola',
 5: 'Página30'}

In [478]:
hc_per_school = pd.read_excel(FILE_PATH, sheet_name=SHEET_KEYS[1])

print(hc_per_school.shape)
hc_per_school.head()

(128, 9)

,Mês,Escola,CÓDIGO ESCOLA,Valor Unitário Carga Horária,CH Regência,CH Sem Regência,Valor Regência,Valor Sem Regência,Valor CH Mensal
0,janeiro,ESCOLA A,ABC1,NaN,NaN,NaN,NaN,NaN,NaN
1,janeiro,ESCOLA B,ABC2,NaN,NaN,NaN,NaN,NaN,NaN
2,janeiro,ESCOLA C,ABC3,NaN,NaN,NaN,NaN,NaN,NaN
3,janeiro,ESCOLA D,ABC4,NaN,NaN,NaN,NaN,NaN,NaN
4,janeiro,ESCOLA E,ABC5,NaN,NaN,NaN,NaN,NaN,NaN

In [479]:
tom_payroll = pd.read_excel(FILE_PATH, sheet_name=SHEET_KEYS[2])

print(tom_payroll.shape)
tom_payroll.head()

(3085, 12)

,Mês,Escola,CodEscola,Nome,CodFuncionario,SITUACAO,ADM,DESCRICAO_CARGO,DESCRICAO_VERBA,Horas Mes,Categoria,Dt demissão
0,Fevereiro,ESCOLA A,ABC1,Andressa Aguiar,100.0,Trabalhando,2025-02-03,COORDENADOR(A) DE CURSO,HORAS,70.0,NAO REGENCIA,NaT
1,Fevereiro,ESCOLA A,ABC1,Andressa Aguiar,100.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,45.0,REGENCIA,NaT
2,Fevereiro,ESCOLA A,ABC1,Márcio Wagner,101.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,27.0,REGENCIA,NaT
3,Fevereiro,ESCOLA A,ABC1,Igor Souza Quirino,102.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,49.5,REGENCIA,NaT
4,Fevereiro,ESCOLA A,ABC1,João Miguel Oliveira Vieira,103.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,40.5,REGENCIA,NaT

In [480]:
gov_payroll = pd.read_excel(FILE_PATH, sheet_name=SHEET_KEYS[3])

print(gov_payroll.shape)
gov_payroll.head()

(6780, 14)

,Mês,Escola,CodEscola,Nome Funcionario,CodFuncionario,Tipo,DisciplinaFuncao,DisciplinaFuncaoDescricao,PeriodoIni,PeriodoFim,DiasTrabalhados,CHSuprimento,CHDiaria,CHPeriodo
0,Fevereiro,ESCOLA Z,ABC23,Bruna Diniz,680,REGENCIA,6279,LITER ART E MOVIMENTO I,2025-02-03,2025-02-28,26,8,1.142857,29.714282
1,Fevereiro,ESCOLA Z,ABC23,Bruna Diniz,680,REGENCIA,6363,ELETIVA I,2025-02-03,2025-02-28,26,4,0.571428,14.857128
2,Fevereiro,ESCOLA Z,ABC23,Yolanda Sales,681,REGENCIA,704,ARTE,2025-02-03,2025-02-28,26,8,1.142857,29.714282
3,Fevereiro,ESCOLA Z,ABC23,Yolanda Sales,681,REGENCIA,732,ARTE II,2025-02-03,2025-02-28,26,2,0.285714,7.428564
4,Fevereiro,ESCOLA Z,ABC23,Yolanda Sales,681,REGENCIA,5641,PROJETO DE VIDA I,2025-02-03,2025-02-28,26,25,3.571428,92.857128

In [481]:
school_values = pd.read_excel(FILE_PATH, sheet_name=SHEET_KEYS[4])

print(school_values.shape)
school_values.head()

(32, 3)

      Escola CodEscola  Valor Unitário Carga Horária
0   ESCOLA Z     ABC23                         23.09
1  ESCOLA N      ABC14                         29.27
2  ESCOLA O      ABC15                         29.27
3   ESCOLA E      ABC5                         29.27
4   ESCOLA F      ABC6                         27.21

In [482]:
teachers_match = pd.read_excel(FILE_PATH, sheet_name=SHEET_KEYS[5])

teachers_match.head()

,UNIQUE,Unnamed: 1,Unnamed: 2,conit,Unnamed: 4,UNIQUE.1,CÓDIGO ESCOLA,Escola
0,61008303100,100,Andressa Aguiar,1,NaN,41128656.0,ABC1,ESCOLA A
1,9966162925,101,Márcio Wagner,1,NaN,41129792.0,ABC2,ESCOLA B
2,638731925,102,Igor Souza Quirino,1,NaN,41131479.0,ABC3,ESCOLA C
3,5743855927,103,João Miguel Oliveira Vieira,1,NaN,41131908.0,ABC4,ESCOLA D
4,2334064920,104,Dennis Oshima,1,NaN,41135784.0,ABC5,ESCOLA E

Limpeza das tabelas

In [483]:
print(hc_per_school[['Mês', 'Escola']].info())

grouped_schools = hc_per_school.groupby('Mês')['Escola'].count()

grouped_schools

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mês     128 non-null    object
 1   Escola  128 non-null    object
dtypes: object(2)
memory usage: 2.1+ KB
None

Mês
abril        32
fevereiro    32
janeiro      32
março        32
Name: Escola, dtype: int64

In [484]:
hc_per_school = hc_per_school.rename(columns={
    'Mês': 'mes',
    'Escola': 'escola',
    'CÓDIGO ESCOLA': 'codigo_escola',
    'Valor Unitário Carga Horária': 'valor_unitario_carga_horaria',
    'CH Regência': 'ch_regencia',
    'Valor Regência': 'valor_regencia',
    'Valor Sem Regência': 'valor_sem_regencia',
    'Valor CH Mensal': 'valor_ch_mensal',
})

hc_per_school.columns

Index(['mes', 'escola', 'codigo_escola', 'valor_unitario_carga_horaria',
       'ch_regencia', 'CH Sem Regência', 'valor_regencia',
       'valor_sem_regencia', 'valor_ch_mensal'],
      dtype='object')

In [485]:
tom_payroll = tom_payroll.rename(columns={
    'Mês': 'mes',
    'Escola': 'escola',
    'CodEscola': 'codigo_escola',
    'Nome': 'nome',
    'CodFuncionario': 'codigo_funcionario',
    'SITUACAO': 'situacao',
    'ADM': 'data_admissao',
    'DESCRICAO_CARGO': 'descricao_cargo',
    'DESCRICAO_VERBA': 'descricao_verba',
    'Horas Mes': 'ch_total',
    'Categoria': 'categoria',
    'Dt demissão': 'data_demissao',
})

print(tom_payroll.info())
print(tom_payroll.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3085 entries, 0 to 3084
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mes                 3085 non-null   object
 1   escola              3085 non-null   object
 2   codigo_escola       3085 non-null   object
 3   nome                3078 non-null   object
 4   codigo_funcionario  3078 non-null   float64
 5   situacao            3085 non-null   object
 6   data_admissao       1964 non-null   datetime64[ns]
 7   descricao_cargo     3085 non-null   object
 8   descricao_verba     3085 non-null   object
 9   ch_total            3085 non-null   float64
 10  categoria           3085 non-null   object
 11  data_demissao       189 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(8)
memory usage: 289.3+ KB
None
       codigo_funcionario                  data_admissao     ch_total  \
count         3078.000000                           1964  3085.000000
mean           531.859649  2025-01-17 16:07:49.246436096    82.894901
min            100.000000            2023-02-02 00:00:00     0.000000
25%            316.250000            2025-02-03 00:00:00    37.330000
50%            528.000000            2025-02-03 00:00:00    76.500000
75%            708.000000            2025-02-03 00:00:00   121.500000
max           1784.000000            2025-03-27 00:00:00   220.000000
std            280.856310                            NaN    53.804094

                       data_demissao
count                            189
mean   2025-04-05 06:36:11.428571392
min              2025-02-05 00:00:00
25%              2025-03-19 00:00:00
50%              2025-04-08 00:00:00
75%              2025-05-03 00:00:00
max              2025-05-08 00:00:00
std                              NaN

In [486]:
tom_payroll.isna().sum()

mes                      0
escola                   0
codigo_escola            0
nome                     7
codigo_funcionario       7
situacao                 0
data_admissao         1121
descricao_cargo          0
descricao_verba          0
ch_total                 0
categoria                0
data_demissao         2896
dtype: int64

In [487]:
tom_payroll[(tom_payroll['nome'].isna()) | (tom_payroll['codigo_funcionario'].isna())]

,mes,escola,codigo_escola,nome,codigo_funcionario,situacao,data_admissao,descricao_cargo,descricao_verba,ch_total,categoria,data_demissao
1994,Abril,ESCOLA A,ABC1,NaN,NaN,Trabalhando,NaT,PROFESSOR(A),HORAS,54.0,REGENCIA,NaT
2047,Abril,ESCOLA G,ABC7,NaN,NaN,Trabalhando,NaT,PROFESSOR(A),HORAS,18.9,REGENCIA,NaT
2640,Abril,ESCOLA W,ABC21,NaN,NaN,Trabalhando,NaT,PROFESSOR(A),HORAS,18.0,REGENCIA,NaT
2641,Abril,ESCOLA W,ABC21,NaN,NaN,Trabalhando,NaT,PROFESSOR(A),HORAS,20.0,REGENCIA,NaT
2800,Abril,ESCOLA Z,ABC23,NaN,NaN,Trabalhando,NaT,COORDENADOR(A) PEDAGOGICO,HORAS,100.0,NAO REGENCIA,NaT
2859,Abril,ESCOLA J,ABC10,NaN,NaN,Trabalhando,NaT,PROFESSOR(A),HORAS,14.7,REGENCIA,NaT
3048,Abril,ESCOLA M,ABC13,NaN,NaN,Trabalhando,NaT,PROFESSOR(A),HORAS,12.6,REGENCIA,NaT

In [488]:
tom_payroll[['nome', 'codigo_funcionario']] = tom_payroll[['nome', 'codigo_funcionario']].fillna('SEM INFO')


faltantes = tom_payroll[(tom_payroll['nome'] == 'SEM INFO') | (tom_payroll['codigo_funcionario'] == 'SEM INFO')]

faltantes

,mes,escola,codigo_escola,nome,codigo_funcionario,situacao,data_admissao,descricao_cargo,descricao_verba,ch_total,categoria,data_demissao
1994,Abril,ESCOLA A,ABC1,SEM INFO,SEM INFO,Trabalhando,NaT,PROFESSOR(A),HORAS,54.0,REGENCIA,NaT
2047,Abril,ESCOLA G,ABC7,SEM INFO,SEM INFO,Trabalhando,NaT,PROFESSOR(A),HORAS,18.9,REGENCIA,NaT
2640,Abril,ESCOLA W,ABC21,SEM INFO,SEM INFO,Trabalhando,NaT,PROFESSOR(A),HORAS,18.0,REGENCIA,NaT
2641,Abril,ESCOLA W,ABC21,SEM INFO,SEM INFO,Trabalhando,NaT,PROFESSOR(A),HORAS,20.0,REGENCIA,NaT
2800,Abril,ESCOLA Z,ABC23,SEM INFO,SEM INFO,Trabalhando,NaT,COORDENADOR(A) PEDAGOGICO,HORAS,100.0,NAO REGENCIA,NaT
2859,Abril,ESCOLA J,ABC10,SEM INFO,SEM INFO,Trabalhando,NaT,PROFESSOR(A),HORAS,14.7,REGENCIA,NaT
3048,Abril,ESCOLA M,ABC13,SEM INFO,SEM INFO,Trabalhando,NaT,PROFESSOR(A),HORAS,12.6,REGENCIA,NaT

In [489]:
gov_payroll = gov_payroll.rename(columns={
    'Mês': 'mes',
    'Escola': 'escola',
    'CodEscola': 'codigo_escola',
    'Nome Funcionario': 'nome_funcionario',
    'CodFuncionario': 'codigo_funcionario',
    'Tipo': 'categoria',
    'DisciplinaFuncao': 'disciplina_funcao',
    'DisciplinaFuncaoDescricao': 'disciplina_funcao_descricao',
    'PeriodoIni': 'periodo_ini',
    'PeriodoFim': 'periodo_fim',
    'DiasTrabalhados': 'dias_trabalhados',
    'CHSuprimento': 'ch_suprimento',
    'CHDiaria': 'ch_diaria',
    'CHPeriodo': 'ch_periodo',
})


print(gov_payroll.info())
print(gov_payroll.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6780 entries, 0 to 6779
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   mes                          6780 non-null   object
 1   escola                       6780 non-null   object
 2   codigo_escola                6780 non-null   object
 3   nome_funcionario             6780 non-null   object
 4   codigo_funcionario           6780 non-null   int64
 5   categoria                    6780 non-null   object
 6   disciplina_funcao            6780 non-null   int64
 7   disciplina_funcao_descricao  6780 non-null   object
 8   periodo_ini                  6780 non-null   datetime64[ns]
 9   periodo_fim                  6780 non-null   datetime64[ns]
 10  dias_trabalhados             6780 non-null   int64
 11  ch_suprimento                6780 non-null   int64
 12  ch_diaria                    6780 non-null   float64
 13  ch_periodo                   6780 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(4), object(6)
memory usage: 741.7+ KB
None
       codigo_funcionario  disciplina_funcao                    periodo_ini  \
count         6780.000000        6780.000000                           6780
mean           516.455162        3311.643068  2025-03-06 01:57:14.336283136
min            100.000000         106.000000            2025-02-01 00:00:00
25%            312.000000         704.000000            2025-02-03 00:00:00
50%            508.000000        2389.000000            2025-03-01 00:00:00
75%            693.000000        6210.000000            2025-04-01 00:00:00
max           1784.000000        9404.000000            2025-04-30 00:00:00
std            268.363944        2735.591284                            NaN

                         periodo_fim  dias_trabalhados  ch_suprimento  \
count                           6780       6780.000000    6780.000000
mean   2025-03-30 22:30:22.300884736         25.856342       8.660177
min              2025-02-01 00:00:00          1.000000       1.000000
25%              2025-02-28 00:00:00         26.000000       2.000000
50%              2025-03-31 00:00:00         30.000000       4.000000
75%              2025-04-30 00:00:00         31.000000      12.000000
max              2025-04-30 00:00:00         31.000000      50.000000
std                              NaN          8.069108       8.818197

         ch_diaria   ch_periodo
count  6780.000000  6780.000000
mean      1.237168    31.569900
min       0.142857     0.142857
25%       0.285714     8.571420
50%       0.571428    17.142840
75%       1.714285    39.857130
max       7.142857   214.285710
std       1.259742    35.443212

In [490]:
gov_payroll.isna().sum()

mes                            0
escola                         0
codigo_escola                  0
nome_funcionario               0
codigo_funcionario             0
categoria                      0
disciplina_funcao              0
disciplina_funcao_descricao    0
periodo_ini                    0
periodo_fim                    0
dias_trabalhados               0
ch_suprimento                  0
ch_diaria                      0
ch_periodo                     0
dtype: int64

In [491]:
school_values = school_values.rename(columns={
    'Escola': 'escola',
    'CodEscola': 'codigo_escola',
    'Valor Unitário Carga Horária': 'valor_unitario_carga_horaria',
})

print(school_values.info())
print(school_values.describe())
print(school_values.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   escola                        32 non-null     object
 1   codigo_escola                 32 non-null     object
 2   valor_unitario_carga_horaria  32 non-null     float64
dtypes: float64(1), object(2)
memory usage: 900.0+ bytes
None
       valor_unitario_carga_horaria
count                     32.000000
mean                      26.765000
std                        2.956628
min                       23.090000
25%                       23.090000
50%                       27.210000
75%                       29.270000
max                       31.390000
escola                          0
codigo_escola                   0
valor_unitario_carga_horaria    0
dtype: int64

In [492]:
teachers_match = teachers_match.rename(columns={
    'Unnamed: 1': 'cod_funcionario',
    'Unnamed: 2': 'nome_funcionario',
    'conit': 'conit',
    'Unnamed: 4': 'empty',
    'CÓDIGO ESCOLA': 'codigo_escola',
    'Escola': 'escola',
})

teachers_match = teachers_match.drop(columns=['empty', 'conit', 'UNIQUE.1', 'codigo_escola', 'escola'])

print(teachers_match.columns)
print(teachers_match.info())
print(teachers_match.isna().sum())

Index(['UNIQUE', 'cod_funcionario', 'nome_funcionario'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1686 entries, 0 to 1685
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UNIQUE            1686 non-null   int64
 1   cod_funcionario   1686 non-null   int64
 2   nome_funcionario  1686 non-null   object
dtypes: int64(2), object(1)
memory usage: 39.6+ KB
None
UNIQUE              0
cod_funcionario     0
nome_funcionario    0
dtype: int64

Cálculos básicos


Sabemos que a carga horária total de Tom é calculada com base na carga horária semanal x fator do cargo. Além disso, a carga horária semanal é estimada com base carga horária diária calculada pelo Governo vezes 7 (número de dias da semana). Diante disso, podemos decompor a carga horária de Tom em semanas e calcular a carga horária do Governo em semanas, para podermos ter uma métrica comparável entre as duas tabelas.

In [493]:
tom_payroll['fator'] = tom_payroll['categoria'].map({
    'REGENCIA': 4.5,
    'NAO REGENCIA': 5
})

tom_payroll['ch_semanal'] = tom_payroll['ch_total'] / tom_payroll['fator']

tom_payroll.head()

,mes,escola,codigo_escola,nome,codigo_funcionario,situacao,data_admissao,descricao_cargo,descricao_verba,ch_total,categoria,data_demissao,fator,ch_semanal
0,Fevereiro,ESCOLA A,ABC1,Andressa Aguiar,100.0,Trabalhando,2025-02-03,COORDENADOR(A) DE CURSO,HORAS,70.0,NAO REGENCIA,NaT,5.0,14.0
1,Fevereiro,ESCOLA A,ABC1,Andressa Aguiar,100.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,45.0,REGENCIA,NaT,4.5,10.0
2,Fevereiro,ESCOLA A,ABC1,Márcio Wagner,101.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,27.0,REGENCIA,NaT,4.5,6.0
3,Fevereiro,ESCOLA A,ABC1,Igor Souza Quirino,102.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,49.5,REGENCIA,NaT,4.5,11.0
4,Fevereiro,ESCOLA A,ABC1,João Miguel Oliveira Vieira,103.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,40.5,REGENCIA,NaT,4.5,9.0

In [494]:
gov_payroll['ch_semanal'] = np.round(gov_payroll['ch_diaria'] * 7, 2)

gov_payroll.head()

,mes,escola,codigo_escola,nome_funcionario,codigo_funcionario,categoria,disciplina_funcao,disciplina_funcao_descricao,periodo_ini,periodo_fim,dias_trabalhados,ch_suprimento,ch_diaria,ch_periodo,ch_semanal
0,Fevereiro,ESCOLA Z,ABC23,Bruna Diniz,680,REGENCIA,6279,LITER ART E MOVIMENTO I,2025-02-03,2025-02-28,26,8,1.142857,29.714282,8.0
1,Fevereiro,ESCOLA Z,ABC23,Bruna Diniz,680,REGENCIA,6363,ELETIVA I,2025-02-03,2025-02-28,26,4,0.571428,14.857128,4.0
2,Fevereiro,ESCOLA Z,ABC23,Yolanda Sales,681,REGENCIA,704,ARTE,2025-02-03,2025-02-28,26,8,1.142857,29.714282,8.0
3,Fevereiro,ESCOLA Z,ABC23,Yolanda Sales,681,REGENCIA,732,ARTE II,2025-02-03,2025-02-28,26,2,0.285714,7.428564,2.0
4,Fevereiro,ESCOLA Z,ABC23,Yolanda Sales,681,REGENCIA,5641,PROJETO DE VIDA I,2025-02-03,2025-02-28,26,25,3.571428,92.857128,25.0

In [495]:
more_than_1_school = tom_payroll.groupby(['mes', 'codigo_funcionario', 'categoria'])['codigo_escola'].count().reset_index()

(more_than_1_school['codigo_escola'] > 1).sum()

np.int64(372)

Existem professores que trabalham em mais de uma escola e analisando os dados percebemos que professores que possuem multiplos cargos, isto é, lecionam em multiplas materias. Este é um impasse a ser resolvido, visto que podemos ter professores que lecionam em quantidades de dias diferentes para cada matéria. Por isso, vamos calcular o CH Real do Governo utilizando o CH diario * Dias trabalhados e comparar se todos os resultados batem

In [496]:
gov_payroll_copy = gov_payroll.copy()

ch_real_gov = np.round(gov_payroll_copy['ch_diaria'] * gov_payroll_copy['dias_trabalhados'], 3)

(ch_real_gov - np.round(gov_payroll_copy['ch_periodo'], 3)).sum()

np.float64(0.0)

Nao existe discrepancia na base do governo entre os dados de Ch total

In [ ]:
tom_payroll['ch_diaria'] = tom_payroll['ch_semanal'] / 7

tom_payroll.head()

,mes,escola,codigo_escola,nome,codigo_funcionario,situacao,data_admissao,descricao_cargo,descricao_verba,ch_total,categoria,data_demissao,fator,ch_semanal,ch_diaria
0,Fevereiro,ESCOLA A,ABC1,Andressa Aguiar,100.0,Trabalhando,2025-02-03,COORDENADOR(A) DE CURSO,HORAS,70.0,NAO REGENCIA,NaT,5.0,14.0,2.000000
1,Fevereiro,ESCOLA A,ABC1,Andressa Aguiar,100.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,45.0,REGENCIA,NaT,4.5,10.0,1.428571
2,Fevereiro,ESCOLA A,ABC1,Márcio Wagner,101.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,27.0,REGENCIA,NaT,4.5,6.0,0.857143
3,Fevereiro,ESCOLA A,ABC1,Igor Souza Quirino,102.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,49.5,REGENCIA,NaT,4.5,11.0,1.571429
4,Fevereiro,ESCOLA A,ABC1,João Miguel Oliveira Vieira,103.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,40.5,REGENCIA,NaT,4.5,9.0,1.285714

In [502]:
duplicatas = (
    gov_payroll
    .groupby(['mes','codigo_escola','codigo_funcionario','disciplina_funcao'])
    .size()
    .reset_index(name='n_registros')
    .query('n_registros > 1')
)

print(len(duplicatas))
duplicatas

301

,mes,codigo_escola,codigo_funcionario,disciplina_funcao,n_registros
93,Abril,ABC10,729,401,4
94,Abril,ABC10,729,2385,2
203,Abril,ABC12,817,704,4
232,Abril,ABC12,1727,401,2
234,Abril,ABC12,1730,1347,3
235,Abril,ABC12,1730,6210,2
236,Abril,ABC12,1730,6460,2
243,Abril,ABC13,755,6460,2
245,Abril,ABC13,850,501,2
246,Abril,ABC13,850,2201,2
247,Abril,ABC13,850,2384,2
255,Abril,ABC13,854,2023,2
283,Abril,ABC13,866,4024,2
284,Abril,ABC13,866,4129,2
285,Abril,ABC13,866,4393,2
286,Abril,ABC13,866,4768,2
287,Abril,ABC13,866,5020,2
298,Abril,ABC13,871,106,2
299,Abril,ABC13,871,367,4
300,Abril,ABC13,871,6210,2
301,Abril,ABC13,872,301,4
302,Abril,ABC13,872,1001,2
344,Abril,ABC14,479,215,2
395,Abril,ABC14,490,299,2
422,Abril,ABC14,499,299,2
425,Abril,ABC14,501,401,2
427,Abril,ABC14,501,2385,2
514,Abril,ABC15,1748,106,2
518,Abril,ABC16,603,201,6
519,Abril,ABC16,603,6281,3
522,Abril,ABC16,605,201,6
539,Abril,ABC16,612,301,6
540,Abril,ABC16,612,6361,3
541,Abril,ABC16,612,6363,3
542,Abril,ABC16,612,9087,3
575,Abril,ABC16,623,301,6
576,Abril,ABC16,623,6361,3
577,Abril,ABC16,623,6363,3
591,Abril,ABC16,629,301,3
592,Abril,ABC16,629,6361,3
593,Abril,ABC16,629,6363,3
598,Abril,ABC17,540,6410,2
602,Abril,ABC17,581,801,2
603,Abril,ABC17,581,6153,3
604,Abril,ABC17,581,6281,3
605,Abril,ABC17,581,6340,3
606,Abril,ABC17,581,6364,2
610,Abril,ABC17,615,6153,2
611,Abril,ABC17,615,6365,2
613,Abril,ABC17,702,201,3
614,Abril,ABC17,702,2565,3
615,Abril,ABC17,702,6281,3
616,Abril,ABC17,702,6363,3
617,Abril,ABC17,703,401,2
619,Abril,ABC17,703,5641,2
628,Abril,ABC17,708,6361,2
629,Abril,ABC17,708,6362,2
642,Abril,ABC17,712,2201,2
645,Abril,ABC17,712,6362,2
653,Abril,ABC17,715,501,2
658,Abril,ABC17,717,601,2
666,Abril,ABC17,902,1347,2
667,Abril,ABC17,902,6366,2
668,Abril,ABC17,908,901,5
681,Abril,ABC18,667,5641,2
682,Abril,ABC18,667,6362,4
683,Abril,ABC18,667,6363,2
684,Abril,ABC18,668,106,2
757,Abril,ABC19,1381,5641,2
759,Abril,ABC19,1381,6362,2
766,Abril,ABC2,198,6281,2
793,Abril,ABC2,261,501,2
794,Abril,ABC2,261,594,2
795,Abril,ABC2,261,2201,2
796,Abril,ABC2,261,2389,2
797,Abril,ABC2,261,5641,2
798,Abril,ABC2,261,6363,2
833,Abril,ABC2,269,201,2
878,Abril,ABC20,566,6365,2
925,Abril,ABC20,579,601,7
926,Abril,ABC20,579,790,3
927,Abril,ABC20,579,6279,4
933,Abril,ABC20,581,4767,3
934,Abril,ABC20,581,6340,3
935,Abril,ABC20,581,6361,3
1191,Abril,ABC24,374,6153,2
1192,Abril,ABC24,374,6281,2
1193,Abril,ABC24,374,6362,2
1236,Abril,ABC25,336,6372,2
1238,Abril,ABC25,337,594,2
1254,Abril,ABC25,342,7502,2
1298,Abril,ABC25,355,401,6
1299,Abril,ABC25,355,594,3
1300,Abril,ABC25,355,2301,3
1301,Abril,ABC25,355,2384,3
1304,Abril,ABC25,356,6460,2
1314,Abril,ABC25,359,6211,3
1430,Abril,ABC27,397,9316,2
1474,Abril,ABC28,307,2023,2
1482,Abril,ABC28,470,1001,2
1484,Abril,ABC28,888,2023,2
1527,Abril,ABC29,465,201,2
1574,Abril,ABC3,186,501,3
1575,Abril,ABC3,186,7502,3
1612,Abril,ABC30,312,106,2
1634,Abril,ABC30,321,106,2
1635,Abril,ABC30,321,367,2
1636,Abril,ABC30,321,6210,2
1637,Abril,ABC30,321,6460,2
1671,Abril,ABC30,893,201,3
1736,Abril,ABC31,893,6281,3
1739,Abril,ABC32,400,201,4
1740,Abril,ABC32,400,215,2
1741,Abril,ABC32,400,1193,2
1742,Abril,ABC32,400,6211,2
1757,Abril,ABC32,408,2023,2
1781,Abril,ABC32,422,201,2
1782,Abril,ABC32,422,801,2
1783,Abril,ABC32,422,1194,2
1851,Abril,ABC4,261,2201,2
1864,Abril,ABC5,186,501,2
1895,Abril,ABC5,213,401,3
1904,Abril,ABC5,218,401,4
1909,Abril,ABC5,220,301,2
1910,Abril,ABC5,220,1001,2
1938,Abril,ABC6,218,401,3
1939,Abril,ABC6,218,2385,3
2047,Abril,ABC7,172,299,2
2054,Abril,ABC7,173,4191,2
2113,Abril,ABC8,789,704,4
2114,Abril,ABC8,789,732,3
2115,Abril,ABC8,789,1637,3
2116,Abril,ABC8,789,1641,3
2117,Abril,ABC8,789,1669,3
2118,Abril,ABC8,789,3863,3
2119,Abril,ABC8,789,4775,3
2151,Abril,ABC8,801,704,8
2154,Abril,ABC8,802,6461,2
2155,Abril,ABC8,803,1347,2
2156,Abril,ABC8,804,704,6
2215,Abril,ABC9,756,106,2
2216,Abril,ABC9,756,1347,2
2238,Abril,ABC9,905,401,3
2239,Abril,ABC9,905,2301,2
2241,Abril,ABC9,905,2390,2
2266,Fevereiro,ABC1,105,106,2
2307,Fevereiro,ABC1,125,106,2
2315,Fevereiro,ABC10,722,4491,2
2325,Fevereiro,ABC10,727,201,3
2328,Fevereiro,ABC10,728,4759,2
2331,Fevereiro,ABC10,730,1347,2
2338,Fevereiro,ABC10,738,106,2
2502,Fevereiro,ABC13,872,301,2
2520,Fevereiro,ABC14,475,801,3
2536,Fevereiro,ABC14,479,215,2
2546,Fevereiro,ABC14,482,1001,3
2584,Fevereiro,ABC14,489,401,2
2589,Fevereiro,ABC14,490,299,3
2602,Fevereiro,ABC14,495,106,3
2603,Fevereiro,ABC14,495,401,2
2624,Fevereiro,ABC14,505,1347,3
2633,Fevereiro,ABC14,511,1347,2
2666,Fevereiro,ABC15,526,601,2
2680,Fevereiro,ABC15,532,601,2
2681,Fevereiro,ABC15,532,644,2
2838,Fevereiro,ABC18,667,6362,2
2864,Fevereiro,ABC19,537,601,2
2865,Fevereiro,ABC19,537,644,2
2866,Fevereiro,ABC19,537,6363,2
3143,Fevereiro,ABC22,634,704,2
3153,Fevereiro,ABC22,636,6366,2
3155,Fevereiro,ABC22,638,401,2
3162,Fevereiro,ABC22,640,6366,2
3164,Fevereiro,ABC22,641,299,2
3174,Fevereiro,ABC22,644,6211,2
3187,Fevereiro,ABC22,648,594,2
3189,Fevereiro,ABC22,649,501,2
3195,Fevereiro,ABC22,652,901,2
3207,Fevereiro,ABC22,655,601,2
3223,Fevereiro,ABC22,657,5020,2
3228,Fevereiro,ABC22,659,2201,2
3232,Fevereiro,ABC22,660,106,2
3318,Fevereiro,ABC24,376,594,2
3335,Fevereiro,ABC24,379,106,2
3341,Fevereiro,ABC24,379,6366,3
3360,Fevereiro,ABC25,336,6372,2
3361,Fevereiro,ABC25,336,9220,2
3409,Fevereiro,ABC25,352,301,2
3411,Fevereiro,ABC25,352,1002,2
3506,Fevereiro,ABC27,390,367,2
3556,Fevereiro,ABC28,305,501,3
3681,Fevereiro,ABC30,312,106,3
3801,Fevereiro,ABC32,404,901,2
3885,Fevereiro,ABC4,142,6362,2
4015,Fevereiro,ABC7,120,3961,2
4018,Fevereiro,ABC7,125,367,2
4028,Fevereiro,ABC7,149,903,2
4029,Fevereiro,ABC7,149,1195,2
4031,Fevereiro,ABC7,150,601,2
4032,Fevereiro,ABC7,151,106,2
4034,Fevereiro,ABC7,151,5039,2
4037,Fevereiro,ABC7,153,1347,2
4042,Fevereiro,ABC7,155,801,2
4043,Fevereiro,ABC7,155,1194,2
4044,Fevereiro,ABC7,157,106,2
4045,Fevereiro,ABC7,157,367,2
4049,Fevereiro,ABC7,158,1307,2
4053,Fevereiro,ABC7,160,1347,2
4058,Fevereiro,ABC7,162,1001,2
4060,Fevereiro,ABC7,162,1196,2
4061,Fevereiro,ABC7,163,106,2
4064,Fevereiro,ABC7,164,201,2
4065,Fevereiro,ABC7,165,594,2
4068,Fevereiro,ABC7,170,401,2
4073,Fevereiro,ABC7,172,901,2
4082,Fevereiro,ABC7,175,1347,2
4084,Fevereiro,ABC7,176,299,2
4088,Fevereiro,ABC7,177,501,2
4144,Fevereiro,ABC8,786,301,2
4185,Fevereiro,ABC8,801,704,4
4189,Fevereiro,ABC8,804,704,4
4246,Fevereiro,ABC9,768,901,2
4260,Março,ABC1,105,106,2
4307,Março,ABC1,175,1347,2
4332,Março,ABC10,730,1347,2
4337,Março,ABC10,732,3961,3
4394,Março,ABC11,842,401,2
4395,Março,ABC11,842,5641,2
4398,Março,ABC11,843,106,2
4401,Março,ABC11,843,6366,2
4429,Março,ABC12,816,3961,2
4441,Março,ABC12,824,201,2
4447,Março,ABC12,828,201,2
4458,Março,ABC12,831,401,3
4544,Março,ABC14,476,9138,2
4563,Março,ABC14,482,1001,2
4606,Março,ABC14,490,299,2
4618,Março,ABC14,494,3961,2
4624,Março,ABC14,496,1347,2
4643,Março,ABC14,506,201,2
4808,Março,ABC17,702,2565,2
4809,Março,ABC17,702,6281,2
4822,Março,ABC17,708,6361,3
4823,Março,ABC17,708,6362,2
4824,Março,ABC17,708,6363,2
4828,Março,ABC17,710,2565,3
4829,Março,ABC17,710,6340,2
4840,Março,ABC17,713,106,2
4953,Março,ABC2,253,106,2
4982,Março,ABC2,262,6362,2
4987,Março,ABC2,264,106,2
4997,Março,ABC2,265,6361,2
5052,Março,ABC20,566,401,2
5094,Março,ABC20,579,601,2
5137,Março,ABC21,591,6281,2
5243,Março,ABC22,650,2023,2
5244,Março,ABC22,651,2023,2
5252,Março,ABC22,653,6362,2
5345,Março,ABC23,699,6366,2
5391,Março,ABC24,379,6366,2
5394,Março,ABC24,381,106,2
5401,Março,ABC25,336,299,3
5423,Março,ABC25,342,501,2
5424,Março,ABC25,342,7502,2
5431,Março,ABC25,346,1347,2
5448,Março,ABC25,350,704,2
5454,Março,ABC25,350,3961,3
5462,Março,ABC25,352,1001,2
5472,Março,ABC25,355,401,2
5479,Março,ABC25,357,106,2
5481,Março,ABC25,357,1347,2
5506,Março,ABC25,368,2201,2
5509,Março,ABC25,369,601,2
5616,Março,ABC28,300,601,2
5619,Março,ABC28,301,2201,2
5622,Março,ABC28,302,704,2
5626,Março,ABC28,305,501,2
5628,Março,ABC28,306,106,2
5632,Março,ABC28,308,201,2
5636,Março,ABC28,411,401,3
5698,Março,ABC3,131,704,2
5751,Março,ABC3,194,215,2
5835,Março,ABC31,428,6281,2
5917,Março,ABC32,414,201,2
5960,Março,ABC4,132,106,2
5974,Março,ABC4,136,6366,2
6035,Março,ABC5,214,2023,2
6125,Março,ABC6,885,9138,2
6134,Março,ABC7,148,201,2
6136,Março,ABC7,148,6211,2
6174,Março,ABC7,167,2301,2
6197,Março,ABC7,883,299,2
6239,Março,ABC8,784,201,2
6277,Março,ABC8,796,6211,2
6284,Março,ABC8,801,704,3
6288,Março,ABC8,804,704,2
6301,Março,ABC8,911,201,2
6303,Março,ABC8,911,6211,2
6304,Março,ABC9,745,367,2
6336,Março,ABC9,756,1347,2
6355,Março,ABC9,766,2023,2