# **O desafio**

Atualmente, a Tom atua na gestão da educação pública em parceria com o gorverno. O desafio parte da necessidade da Tom identificar e analisar as principais diferenças entre um de seus serviços, a contratação e gestão de carga horária de professores. 


## **Sumário**

1. Importação das bibliotecas e dos dados
2. Limpeza das tabelas
3.

In [408]:
# Manipulação dos dados
import pandas as pd
import numpy as np

# Visualização dos dados
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt

from warnings import filterwarnings

filterwarnings('ignore')

# Manipulacao de arquivos e caminhos
from pathlib import Path

ROOT_DIR = Path().cwd().parent
DATA_DIR = ROOT_DIR / "data"
FILE_PATH = DATA_DIR / "data.xlsx"

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

sns.set_theme(
    context="notebook",
    style="whitegrid",
    palette="colorblind",
    font="Arial",
    font_scale=1.0
)
plt.rc("figure", figsize=(12, 6), dpi=120)

In [409]:
sheets = pd.ExcelFile(FILE_PATH)

names = sheets.sheet_names

names.remove('Auxiliares>>>>')

In [410]:
SHEET_KEYS = {
    i: name
    for i, name in enumerate(names)
}

SHEET_KEYS

{0: 'Resumo Executivo',
 1: 'Análise CH por Escola',
 2: 'BD_Tom Folha',
 3: 'BD_SistemaGov',
 4: 'Valores por escola',
 5: 'Página30'}

In [411]:
hc_per_school = pd.read_excel(FILE_PATH, sheet_name=SHEET_KEYS[1])

print(hc_per_school.shape)
hc_per_school.head()

(128, 9)

,Mês,Escola,CÓDIGO ESCOLA,Valor Unitário Carga Horária,CH Regência,CH Sem Regência,Valor Regência,Valor Sem Regência,Valor CH Mensal
0,janeiro,ESCOLA A,ABC1,NaN,NaN,NaN,NaN,NaN,NaN
1,janeiro,ESCOLA B,ABC2,NaN,NaN,NaN,NaN,NaN,NaN
2,janeiro,ESCOLA C,ABC3,NaN,NaN,NaN,NaN,NaN,NaN
3,janeiro,ESCOLA D,ABC4,NaN,NaN,NaN,NaN,NaN,NaN
4,janeiro,ESCOLA E,ABC5,NaN,NaN,NaN,NaN,NaN,NaN

In [412]:
tom_payroll = pd.read_excel(FILE_PATH, sheet_name=SHEET_KEYS[2])

print(tom_payroll.shape)
tom_payroll.head()

(3085, 12)

,Mês,Escola,CodEscola,Nome,CodFuncionario,SITUACAO,ADM,DESCRICAO_CARGO,DESCRICAO_VERBA,Horas Mes,Categoria,Dt demissão
0,Fevereiro,ESCOLA A,ABC1,Andressa Aguiar,100.0,Trabalhando,2025-02-03,COORDENADOR(A) DE CURSO,HORAS,70.0,NAO REGENCIA,NaT
1,Fevereiro,ESCOLA A,ABC1,Andressa Aguiar,100.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,45.0,REGENCIA,NaT
2,Fevereiro,ESCOLA A,ABC1,Márcio Wagner,101.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,27.0,REGENCIA,NaT
3,Fevereiro,ESCOLA A,ABC1,Igor Souza Quirino,102.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,49.5,REGENCIA,NaT
4,Fevereiro,ESCOLA A,ABC1,João Miguel Oliveira Vieira,103.0,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,40.5,REGENCIA,NaT

In [413]:
gov_payroll = pd.read_excel(FILE_PATH, sheet_name=SHEET_KEYS[3])

print(gov_payroll.shape)
gov_payroll.head()

(6780, 14)

,Mês,Escola,CodEscola,Nome Funcionario,CodFuncionario,Tipo,DisciplinaFuncao,DisciplinaFuncaoDescricao,PeriodoIni,PeriodoFim,DiasTrabalhados,CHSuprimento,CHDiaria,CHPeriodo
0,Fevereiro,ESCOLA Z,ABC23,Bruna Diniz,680,REGENCIA,6279,LITER ART E MOVIMENTO I,2025-02-03,2025-02-28,26,8,1.142857,29.714282
1,Fevereiro,ESCOLA Z,ABC23,Bruna Diniz,680,REGENCIA,6363,ELETIVA I,2025-02-03,2025-02-28,26,4,0.571428,14.857128
2,Fevereiro,ESCOLA Z,ABC23,Yolanda Sales,681,REGENCIA,704,ARTE,2025-02-03,2025-02-28,26,8,1.142857,29.714282
3,Fevereiro,ESCOLA Z,ABC23,Yolanda Sales,681,REGENCIA,732,ARTE II,2025-02-03,2025-02-28,26,2,0.285714,7.428564
4,Fevereiro,ESCOLA Z,ABC23,Yolanda Sales,681,REGENCIA,5641,PROJETO DE VIDA I,2025-02-03,2025-02-28,26,25,3.571428,92.857128

In [414]:
school_values = pd.read_excel(FILE_PATH, sheet_name=SHEET_KEYS[4])

print(school_values.shape)
school_values.head()

(32, 3)

      Escola CodEscola  Valor Unitário Carga Horária
0   ESCOLA Z     ABC23                         23.09
1  ESCOLA N      ABC14                         29.27
2  ESCOLA O      ABC15                         29.27
3   ESCOLA E      ABC5                         29.27
4   ESCOLA F      ABC6                         27.21

In [415]:
teachers_match = pd.read_excel(FILE_PATH, sheet_name=SHEET_KEYS[5])

teachers_match.head()

,UNIQUE,Unnamed: 1,Unnamed: 2,conit,Unnamed: 4,UNIQUE.1,CÓDIGO ESCOLA,Escola
0,61008303100,100,Andressa Aguiar,1,NaN,41128656.0,ABC1,ESCOLA A
1,9966162925,101,Márcio Wagner,1,NaN,41129792.0,ABC2,ESCOLA B
2,638731925,102,Igor Souza Quirino,1,NaN,41131479.0,ABC3,ESCOLA C
3,5743855927,103,João Miguel Oliveira Vieira,1,NaN,41131908.0,ABC4,ESCOLA D
4,2334064920,104,Dennis Oshima,1,NaN,41135784.0,ABC5,ESCOLA E

Limpeza das tabelas

In [416]:
print(hc_per_school[['Mês', 'Escola']].info())

grouped_schools = hc_per_school.groupby('Mês')['Escola'].count()

grouped_schools

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mês     128 non-null    object
 1   Escola  128 non-null    object
dtypes: object(2)
memory usage: 2.1+ KB
None

Mês
abril        32
fevereiro    32
janeiro      32
março        32
Name: Escola, dtype: int64

In [417]:
hc_per_school = hc_per_school.rename(columns={
    'Mês': 'mes',
    'Escola': 'escola',
    'CÓDIGO ESCOLA': 'codigo_escola',
    'Valor Unitário Carga Horária': 'valor_unitario_carga_horaria',
    'CH Regência': 'ch_regencia',
    'Valor Regência': 'valor_regencia',
    'Valor Sem Regência': 'valor_sem_regencia',
    'Valor CH Mensal': 'valor_ch_mensal',
})

hc_per_school.columns

Index(['mes', 'escola', 'codigo_escola', 'valor_unitario_carga_horaria',
       'ch_regencia', 'CH Sem Regência', 'valor_regencia',
       'valor_sem_regencia', 'valor_ch_mensal'],
      dtype='object')

In [418]:
print(hc_per_school[['mes', 'escola']].isna().sum())
print(hc_per_school[['mes', 'escola']].duplicated(keep=False).sum())

mes       0
escola    0
dtype: int64
0

In [419]:
tom_payroll = tom_payroll.rename(columns={
    'Mês': 'mes',
    'Escola': 'escola',
    'CodEscola': 'codigo_escola',
    'Nome': 'nome',
    'CodFuncionario': 'codigo_funcionario',
    'SITUACAO': 'situacao',
    'ADM': 'data_admissao',
    'DESCRICAO_CARGO': 'descricao_cargo',
    'DESCRICAO_VERBA': 'descricao_verba',
    'Horas Mes': 'ch_total',
    'Categoria': 'categoria',
    'Dt demissão': 'data_demissao',
})

print(tom_payroll.info())
print(tom_payroll.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3085 entries, 0 to 3084
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mes                 3085 non-null   object
 1   escola              3085 non-null   object
 2   codigo_escola       3085 non-null   object
 3   nome                3078 non-null   object
 4   codigo_funcionario  3078 non-null   float64
 5   situacao            3085 non-null   object
 6   data_admissao       1964 non-null   datetime64[ns]
 7   descricao_cargo     3085 non-null   object
 8   descricao_verba     3085 non-null   object
 9   ch_total            3085 non-null   float64
 10  categoria           3085 non-null   object
 11  data_demissao       189 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(8)
memory usage: 289.3+ KB
None
       codigo_funcionario                  data_admissao     ch_total  \
count         3078.000000                           1964  3085.000000
mean           531.859649  2025-01-17 16:07:49.246436096    82.894901
min            100.000000            2023-02-02 00:00:00     0.000000
25%            316.250000            2025-02-03 00:00:00    37.330000
50%            528.000000            2025-02-03 00:00:00    76.500000
75%            708.000000            2025-02-03 00:00:00   121.500000
max           1784.000000            2025-03-27 00:00:00   220.000000
std            280.856310                            NaN    53.804094

                       data_demissao
count                            189
mean   2025-04-05 06:36:11.428571392
min              2025-02-05 00:00:00
25%              2025-03-19 00:00:00
50%              2025-04-08 00:00:00
75%              2025-05-03 00:00:00
max              2025-05-08 00:00:00
std                              NaN

In [420]:
tom_payroll.isna().sum()

mes                      0
escola                   0
codigo_escola            0
nome                     7
codigo_funcionario       7
situacao                 0
data_admissao         1121
descricao_cargo          0
descricao_verba          0
ch_total                 0
categoria                0
data_demissao         2896
dtype: int64

In [421]:
tom_payroll[(tom_payroll['nome'].isna()) | (tom_payroll['codigo_funcionario'].isna())]

,mes,escola,codigo_escola,nome,codigo_funcionario,situacao,data_admissao,descricao_cargo,descricao_verba,ch_total,categoria,data_demissao
1994,Abril,ESCOLA A,ABC1,NaN,NaN,Trabalhando,NaT,PROFESSOR(A),HORAS,54.0,REGENCIA,NaT
2047,Abril,ESCOLA G,ABC7,NaN,NaN,Trabalhando,NaT,PROFESSOR(A),HORAS,18.9,REGENCIA,NaT
2640,Abril,ESCOLA W,ABC21,NaN,NaN,Trabalhando,NaT,PROFESSOR(A),HORAS,18.0,REGENCIA,NaT
2641,Abril,ESCOLA W,ABC21,NaN,NaN,Trabalhando,NaT,PROFESSOR(A),HORAS,20.0,REGENCIA,NaT
2800,Abril,ESCOLA Z,ABC23,NaN,NaN,Trabalhando,NaT,COORDENADOR(A) PEDAGOGICO,HORAS,100.0,NAO REGENCIA,NaT
2859,Abril,ESCOLA J,ABC10,NaN,NaN,Trabalhando,NaT,PROFESSOR(A),HORAS,14.7,REGENCIA,NaT
3048,Abril,ESCOLA M,ABC13,NaN,NaN,Trabalhando,NaT,PROFESSOR(A),HORAS,12.6,REGENCIA,NaT

Esses registros devem ser removidos, uma vez que nao apresentam valores para nome, nem codigo_funcionario (identificadores que sao cruciais para encontrar os professores em ambas as bases).

In [422]:
tom_payroll = tom_payroll.dropna(subset=['codigo_funcionario', 'nome'])
print(tom_payroll.shape)

(3078, 12)

In [423]:
tom_payroll.duplicated(keep=False).sum()

np.int64(4)

In [424]:
tom_payroll[tom_payroll.duplicated(keep=False)]

,mes,escola,codigo_escola,nome,codigo_funcionario,situacao,data_admissao,descricao_cargo,descricao_verba,ch_total,categoria,data_demissao
1167,Março,ESCOLA AE,ABC28,Felipe Zago,411.0,Trabalhando,2025-03-06,PROFESSOR(A),HORAS,9.0,REGENCIA,NaT
1168,Março,ESCOLA AE,ABC28,Felipe Zago,411.0,Trabalhando,2025-03-06,PROFESSOR(A),HORAS,9.0,REGENCIA,NaT
1332,Março,ESCOLA AH,ABC31,Santiago Souza Tavares,893.0,Trabalhando,2025-03-05,PROFESSOR(A),HORAS,30.0,REGENCIA,NaT
1333,Março,ESCOLA AH,ABC31,Santiago Souza Tavares,893.0,Trabalhando,2025-03-05,PROFESSOR(A),HORAS,30.0,REGENCIA,NaT

In [425]:
tom_payroll = tom_payroll.drop_duplicates(keep='first')

tom_payroll.duplicated(keep=False).sum()

np.int64(0)

In [426]:
gov_payroll = gov_payroll.rename(columns={
    'Mês': 'mes',
    'Escola': 'escola',
    'CodEscola': 'codigo_escola',
    'Nome Funcionario': 'nome_funcionario',
    'CodFuncionario': 'codigo_funcionario',
    'Tipo': 'categoria',
    'DisciplinaFuncao': 'disciplina_funcao',
    'DisciplinaFuncaoDescricao': 'disciplina_funcao_descricao',
    'PeriodoIni': 'periodo_ini',
    'PeriodoFim': 'periodo_fim',
    'DiasTrabalhados': 'dias_trabalhados',
    'CHSuprimento': 'ch_suprimento',
    'CHDiaria': 'ch_diaria',
    'CHPeriodo': 'ch_total',
})


print(gov_payroll.info())
print(gov_payroll.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6780 entries, 0 to 6779
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   mes                          6780 non-null   object
 1   escola                       6780 non-null   object
 2   codigo_escola                6780 non-null   object
 3   nome_funcionario             6780 non-null   object
 4   codigo_funcionario           6780 non-null   int64
 5   categoria                    6780 non-null   object
 6   disciplina_funcao            6780 non-null   int64
 7   disciplina_funcao_descricao  6780 non-null   object
 8   periodo_ini                  6780 non-null   datetime64[ns]
 9   periodo_fim                  6780 non-null   datetime64[ns]
 10  dias_trabalhados             6780 non-null   int64
 11  ch_suprimento                6780 non-null   int64
 12  ch_diaria                    6780 non-null   float64
 13  ch_total                     6780 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(4), object(6)
memory usage: 741.7+ KB
None
       codigo_funcionario  disciplina_funcao                    periodo_ini  \
count         6780.000000        6780.000000                           6780
mean           516.455162        3311.643068  2025-03-06 01:57:14.336283136
min            100.000000         106.000000            2025-02-01 00:00:00
25%            312.000000         704.000000            2025-02-03 00:00:00
50%            508.000000        2389.000000            2025-03-01 00:00:00
75%            693.000000        6210.000000            2025-04-01 00:00:00
max           1784.000000        9404.000000            2025-04-30 00:00:00
std            268.363944        2735.591284                            NaN

                         periodo_fim  dias_trabalhados  ch_suprimento  \
count                           6780       6780.000000    6780.000000
mean   2025-03-30 22:30:22.300884736         25.856342       8.660177
min              2025-02-01 00:00:00          1.000000       1.000000
25%              2025-02-28 00:00:00         26.000000       2.000000
50%              2025-03-31 00:00:00         30.000000       4.000000
75%              2025-04-30 00:00:00         31.000000      12.000000
max              2025-04-30 00:00:00         31.000000      50.000000
std                              NaN          8.069108       8.818197

         ch_diaria     ch_total
count  6780.000000  6780.000000
mean      1.237168    31.569900
min       0.142857     0.142857
25%       0.285714     8.571420
50%       0.571428    17.142840
75%       1.714285    39.857130
max       7.142857   214.285710
std       1.259742    35.443212

In [427]:
gov_payroll.isna().sum()

mes                            0
escola                         0
codigo_escola                  0
nome_funcionario               0
codigo_funcionario             0
categoria                      0
disciplina_funcao              0
disciplina_funcao_descricao    0
periodo_ini                    0
periodo_fim                    0
dias_trabalhados               0
ch_suprimento                  0
ch_diaria                      0
ch_total                       0
dtype: int64

In [428]:
gov_payroll.duplicated(keep=False).sum()

np.int64(10)

In [429]:
gov_payroll[gov_payroll.duplicated(keep=False)]

,mes,escola,codigo_escola,nome_funcionario,codigo_funcionario,categoria,disciplina_funcao,disciplina_funcao_descricao,periodo_ini,periodo_fim,dias_trabalhados,ch_suprimento,ch_diaria,ch_total
5162,Abril,ESCOLA H,ABC8,Naiara Nakashima,801,REGENCIA,704,ARTE,2025-04-01,2025-04-06,6,20,2.857142,17.142852
5166,Abril,ESCOLA H,ABC8,Naiara Nakashima,801,REGENCIA,704,ARTE,2025-04-01,2025-04-06,6,20,2.857142,17.142852
5269,Abril,ESCOLA M,ABC13,Luiza Dias,871,REGENCIA,367,REDACAO E LEITURA,2025-04-30,2025-04-30,1,8,1.142857,1.142857
5271,Abril,ESCOLA M,ABC13,Luiza Dias,871,REGENCIA,367,REDACAO E LEITURA,2025-04-30,2025-04-30,1,8,1.142857,1.142857
5673,Abril,ESCOLA P,ABC16,Cauê Muniz,603,REGENCIA,201,MATEMATICA,2025-04-01,2025-04-02,2,16,2.285714,4.571428
5674,Abril,ESCOLA P,ABC16,Cauê Muniz,603,REGENCIA,201,MATEMATICA,2025-04-03,2025-04-29,27,8,1.142857,30.857139
5675,Abril,ESCOLA P,ABC16,Cauê Muniz,603,REGENCIA,201,MATEMATICA,2025-04-30,2025-04-30,1,16,2.285714,2.285714
5676,Abril,ESCOLA P,ABC16,Cauê Muniz,603,REGENCIA,201,MATEMATICA,2025-04-01,2025-04-02,2,16,2.285714,4.571428
5677,Abril,ESCOLA P,ABC16,Cauê Muniz,603,REGENCIA,201,MATEMATICA,2025-04-03,2025-04-29,27,8,1.142857,30.857139
5678,Abril,ESCOLA P,ABC16,Cauê Muniz,603,REGENCIA,201,MATEMATICA,2025-04-30,2025-04-30,1,16,2.285714,2.285714

In [430]:
gov_payroll = gov_payroll.drop_duplicates(keep='first')

gov_payroll.duplicated(keep=False).sum()

np.int64(0)

In [431]:
school_values = school_values.rename(columns={
    'Escola': 'escola',
    'CodEscola': 'codigo_escola',
    'Valor Unitário Carga Horária': 'valor_unitario_carga_horaria',
})

print(school_values.info())
print(school_values.describe())
print(school_values.isna().sum())
print(school_values.duplicated(keep=False).sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   escola                        32 non-null     object
 1   codigo_escola                 32 non-null     object
 2   valor_unitario_carga_horaria  32 non-null     float64
dtypes: float64(1), object(2)
memory usage: 900.0+ bytes
None
       valor_unitario_carga_horaria
count                     32.000000
mean                      26.765000
std                        2.956628
min                       23.090000
25%                       23.090000
50%                       27.210000
75%                       29.270000
max                       31.390000
escola                          0
codigo_escola                   0
valor_unitario_carga_horaria    0
dtype: int64
0

In [432]:
teachers_match = teachers_match.rename(columns={
    'Unnamed: 1': 'cod_funcionario',
    'Unnamed: 2': 'nome_funcionario',
    'conit': 'conit',
    'Unnamed: 4': 'empty',
    'CÓDIGO ESCOLA': 'codigo_escola',
    'Escola': 'escola',
})

teachers_match = teachers_match.drop(columns=['empty', 'conit', 'UNIQUE.1', 'codigo_escola', 'escola'])

print(teachers_match.columns)
print(teachers_match.info())
print(teachers_match.isna().sum())
print(teachers_match.duplicated().sum())

Index(['UNIQUE', 'cod_funcionario', 'nome_funcionario'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1686 entries, 0 to 1685
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UNIQUE            1686 non-null   int64
 1   cod_funcionario   1686 non-null   int64
 2   nome_funcionario  1686 non-null   object
dtypes: int64(2), object(1)
memory usage: 39.6+ KB
None
UNIQUE              0
cod_funcionario     0
nome_funcionario    0
dtype: int64
0

Na base da empresa, observamos que código do funcionário está como objeto, enquanto na base que contem todos os professores, o seus IDs (codigos) estao como Int. Para garantir a integridade de futuras juncoes, vamos alterar o tipo dessa coluna.

In [433]:
tom_payroll['codigo_funcionario'] = pd.to_numeric(tom_payroll['codigo_funcionario']).astype('Int64')

Cálculos básicos


Sabemos que a carga horária total de Tom é calculada com base na carga horária semanal x fator do cargo. Além disso, a carga horária semanal é estimada com base carga horária diária calculada pelo Governo vezes 7 (número de dias da semana). Diante disso, podemos decompor a carga horária de Tom em semanas e calcular a carga horária do Governo em semanas, para podermos ter uma métrica comparável entre as duas tabelas.

In [434]:
tom_payroll['fator'] = tom_payroll['categoria'].map({
    'REGENCIA': 4.5,
    'NAO REGENCIA': 5
})

tom_payroll.head()

,mes,escola,codigo_escola,nome,codigo_funcionario,situacao,data_admissao,descricao_cargo,descricao_verba,ch_total,categoria,data_demissao,fator
0,Fevereiro,ESCOLA A,ABC1,Andressa Aguiar,100,Trabalhando,2025-02-03,COORDENADOR(A) DE CURSO,HORAS,70.0,NAO REGENCIA,NaT,5.0
1,Fevereiro,ESCOLA A,ABC1,Andressa Aguiar,100,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,45.0,REGENCIA,NaT,4.5
2,Fevereiro,ESCOLA A,ABC1,Márcio Wagner,101,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,27.0,REGENCIA,NaT,4.5
3,Fevereiro,ESCOLA A,ABC1,Igor Souza Quirino,102,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,49.5,REGENCIA,NaT,4.5
4,Fevereiro,ESCOLA A,ABC1,João Miguel Oliveira Vieira,103,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,40.5,REGENCIA,NaT,4.5

In [435]:
more_than_1_school = tom_payroll.groupby(['mes', 'codigo_funcionario', 'categoria'])['codigo_escola'].count().reset_index()

(more_than_1_school['codigo_escola'] > 1).sum()

np.int64(371)

Existem professores que trabalham em mais de uma escola e analisando os dados percebemos que professores que possuem multiplos cargos, isto é, lecionam em multiplas materias. Este é um impasse a ser resolvido, visto que podemos ter professores que lecionam em quantidades de dias diferentes para cada matéria. Por isso, vamos calcular o CH Real do Governo utilizando o CH diario * Dias trabalhados e comparar se todos os resultados batem

In [436]:
gov_payroll_copy = gov_payroll.copy()

ch_real_gov = np.round(gov_payroll_copy['ch_diaria'] * gov_payroll_copy['dias_trabalhados'], 3)

(ch_real_gov - np.round(gov_payroll_copy['ch_total'], 3)).sum()

np.float64(0.0)

Nao existe discrepancia na base do governo entre os dados de Ch total

Para garantir a integridade da análise e que as horas sejam computadas corretamentes, devemos entender como os registros estao relacionados no quesito mudança de carga horaria. Durante um mes um professor pode ter aumentado ou diminuido seu ch o que causa "quebras" nos intervalos contínuos. Por isso realizaremos a seguinte correçao. Dentro do mesmo mes, em uma mesma escola, para um mesmo professor e em uma mesma disciplina que possua intervalos de contrato contínuos, isto é, seu contrato, mesmo com mudanca, represente um mes inteiro iremos realizar as seguintes alteracoes:
- dias_trabalhados = somar
- data_inicio = primeira
- data_fim = ultima
- ch_periodo = somar
- ch_diario = ch_periodo / dia_trabalhados (somados)

In [437]:
gov_payroll_copy = gov_payroll.copy()

gov_payroll_copy['periodo_ini'] = pd.to_datetime(gov_payroll_copy['periodo_ini'], dayfirst=True)
gov_payroll_copy['periodo_fim'] = pd.to_datetime(gov_payroll_copy['periodo_fim'], dayfirst=True)

In [438]:
agg_keys = ['mes', 'codigo_escola', 'codigo_funcionario', 'disciplina_funcao']

In [439]:
gov_payroll_copy = gov_payroll_copy.sort_values(agg_keys + ['periodo_ini'])

In [440]:

def merge_continuous_dates(df):
    df = df.sort_values('periodo_ini')
    merged = []
    for _, row in df.iterrows():
        rec = row.to_dict()
        rec['dias_trabalhados'] = row['dias_trabalhados']
        rec['ch_total'] = row['ch_total']
        rec['ch_diaria'] = row['ch_total'] / row['dias_trabalhados']

        if not merged:
            merged.append(rec)
        else:
            last = merged[-1]
            if row['periodo_ini'] == last['periodo_fim'] + pd.Timedelta(days=1):
                last['periodo_fim'] = row['periodo_fim']
                last['dias_trabalhados'] += rec['dias_trabalhados']
                last['ch_total'] += rec['ch_total']
                last['ch_diaria'] = last['ch_total'] / last['dias_trabalhados']
            else:
                merged.append(rec)
    return pd.DataFrame(merged)

In [441]:
merged = (
    gov_payroll_copy
    .groupby(agg_keys, group_keys=False)
    .apply(merge_continuous_dates)
    .reset_index(drop=True)
)

In [442]:
print(merged.shape)
merged.head()

(6406, 14)

,mes,escola,codigo_escola,nome_funcionario,codigo_funcionario,categoria,disciplina_funcao,disciplina_funcao_descricao,periodo_ini,periodo_fim,dias_trabalhados,ch_suprimento,ch_diaria,ch_total
0,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,REGENCIA,4024,NOCOES DE DIREITO,2025-04-01,2025-04-30,30,2,0.285714,8.57142
1,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,REGENCIA,4129,PRINCIPIOS DE ADMINISTRACAO,2025-04-01,2025-04-30,30,2,0.285714,8.57142
2,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,REGENCIA,4450,RECURSOS HUMANOS,2025-04-01,2025-04-30,30,4,0.571428,17.14284
3,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,REGENCIA,4767,TECNOLOGIAS E FERRAM DE GESTAO,2025-04-01,2025-04-30,30,2,0.285714,8.57142
4,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,NAO REGENCIA,9220,COORD DE CURSO,2025-04-01,2025-04-30,30,15,2.142857,64.28571

In [443]:
gov_payroll = merged

In [444]:
find_double_discipline = (
    gov_payroll
    .groupby(['mes', 'codigo_escola', 'codigo_funcionario', 'disciplina_funcao'])
    .size()
    .reset_index(name='n_ocorrencias')
)

double_or_more_ocurrencies = find_double_discipline[find_double_discipline['n_ocorrencias'] > 1]

print(len(double_or_more_ocurrencies))
double_or_more_ocurrencies

22

,mes,codigo_escola,codigo_funcionario,disciplina_funcao,n_ocorrencias
93,Abril,ABC10,729,401,3
203,Abril,ABC12,817,704,3
299,Abril,ABC13,871,367,2
301,Abril,ABC13,872,301,3
514,Abril,ABC15,1748,106,2
522,Abril,ABC16,605,201,4
539,Abril,ABC16,612,301,4
575,Abril,ABC16,623,301,4
668,Abril,ABC17,908,901,3
682,Abril,ABC18,667,6362,3
878,Abril,ABC20,566,6365,2
925,Abril,ABC20,579,601,4
1298,Abril,ABC25,355,401,4
1482,Abril,ABC28,470,1001,2
1612,Abril,ABC30,312,106,2
1739,Abril,ABC32,400,201,3
1851,Abril,ABC4,261,2201,2
1895,Abril,ABC5,213,401,2
1904,Abril,ABC5,218,401,2
2151,Abril,ABC8,801,704,4
2156,Abril,ABC8,804,704,4
2238,Abril,ABC9,905,401,3

Ainda temos inconsistencias referentes a intervalos nao continuos, vamos verificar como estes registros estao dispostos.

In [445]:
mask = (
    (gov_payroll['mes'] == 'Abril') &
    gov_payroll['codigo_escola'].isin(double_or_more_ocurrencies['codigo_escola']) &
    gov_payroll['codigo_funcionario'].isin(double_or_more_ocurrencies['codigo_funcionario']) &
    gov_payroll['disciplina_funcao'].isin(double_or_more_ocurrencies['disciplina_funcao'])
)

gov_payroll[mask]

,mes,escola,codigo_escola,nome_funcionario,codigo_funcionario,categoria,disciplina_funcao,disciplina_funcao_descricao,periodo_ini,periodo_fim,dias_trabalhados,ch_suprimento,ch_diaria,ch_total
93,Abril,ESCOLA J,ABC10,Kauê Sales,729,REGENCIA,401,GEOGRAFIA,2025-04-01,2025-04-29,29,14,2.000000,58.000000
94,Abril,ESCOLA J,ABC10,Kauê Sales,729,REGENCIA,401,GEOGRAFIA,2025-04-11,2025-04-30,20,11,1.692857,33.857132
95,Abril,ESCOLA J,ABC10,Kauê Sales,729,REGENCIA,401,GEOGRAFIA,2025-04-30,2025-04-30,1,22,3.142857,3.142857
205,Abril,ESCOLA L,ABC12,Jacira Goulart,817,REGENCIA,704,ARTE,2025-04-01,2025-04-29,29,6,0.857142,24.857118
206,Abril,ESCOLA L,ABC12,Jacira Goulart,817,REGENCIA,704,ARTE,2025-04-11,2025-04-30,20,10,1.442857,28.857134
207,Abril,ESCOLA L,ABC12,Jacira Goulart,817,REGENCIA,704,ARTE,2025-04-30,2025-04-30,1,20,2.857142,2.857142
302,Abril,ESCOLA M,ABC13,Luiza Dias,871,REGENCIA,106,LINGUA PORTUGUESA,2025-04-01,2025-04-30,30,9,1.328571,39.857134
303,Abril,ESCOLA M,ABC13,Luiza Dias,871,REGENCIA,367,REDACAO E LEITURA,2025-04-01,2025-04-29,29,4,0.571428,16.571412
304,Abril,ESCOLA M,ABC13,Luiza Dias,871,REGENCIA,367,REDACAO E LEITURA,2025-04-11,2025-04-30,20,4,0.599999,11.999989
306,Abril,ESCOLA M,ABC13,Isabella Lemos,872,REGENCIA,301,CIENCIAS,2025-04-01,2025-04-06,6,12,1.714285,10.285710
307,Abril,ESCOLA M,ABC13,Isabella Lemos,872,REGENCIA,301,CIENCIAS,2025-04-01,2025-04-30,30,10,0.971428,29.142834
308,Abril,ESCOLA M,ABC13,Isabella Lemos,872,REGENCIA,301,CIENCIAS,2025-04-07,2025-04-07,1,5,0.714285,0.714285
309,Abril,ESCOLA M,ABC13,Isabella Lemos,872,REGENCIA,1001,BIOLOGIA,2025-04-01,2025-04-30,30,20,1.714285,51.428556
521,Abril,ESCOLA O,ABC15,Antônia Cavalcanti,1748,REGENCIA,106,LINGUA PORTUGUESA,2025-04-11,2025-04-30,20,6,0.857142,17.142840
522,Abril,ESCOLA O,ABC15,Antônia Cavalcanti,1748,REGENCIA,106,LINGUA PORTUGUESA,2025-04-11,2025-04-30,20,30,4.285714,85.714280
530,Abril,ESCOLA P,ABC16,Luna Ishikawa,605,REGENCIA,201,MATEMATICA,2025-04-01,2025-04-02,2,32,4.571428,9.142856
531,Abril,ESCOLA P,ABC16,Luna Ishikawa,605,REGENCIA,201,MATEMATICA,2025-04-01,2025-04-29,29,16,2.285714,66.285706
532,Abril,ESCOLA P,ABC16,Luna Ishikawa,605,REGENCIA,201,MATEMATICA,2025-04-03,2025-04-30,28,8,1.265306,35.428567
533,Abril,ESCOLA P,ABC16,Luna Ishikawa,605,REGENCIA,201,MATEMATICA,2025-04-30,2025-04-30,1,16,2.285714,2.285714
550,Abril,ESCOLA P,ABC16,Ramon Zanetti,612,REGENCIA,301,CIENCIAS,2025-04-01,2025-04-02,2,24,3.428571,6.857142
551,Abril,ESCOLA P,ABC16,Ramon Zanetti,612,REGENCIA,301,CIENCIAS,2025-04-01,2025-04-29,29,6,1.655172,47.999979
552,Abril,ESCOLA P,ABC16,Ramon Zanetti,612,REGENCIA,301,CIENCIAS,2025-04-03,2025-04-30,28,3,0.535714,14.999988
553,Abril,ESCOLA P,ABC16,Ramon Zanetti,612,REGENCIA,301,CIENCIAS,2025-04-30,2025-04-30,1,6,0.857142,0.857142
589,Abril,ESCOLA P,ABC16,Maxwell Santos Rocha,623,REGENCIA,301,CIENCIAS,2025-04-01,2025-04-02,2,12,1.714285,3.428570
590,Abril,ESCOLA P,ABC16,Maxwell Santos Rocha,623,REGENCIA,301,CIENCIAS,2025-04-01,2025-04-29,29,6,0.857142,24.857118
591,Abril,ESCOLA P,ABC16,Maxwell Santos Rocha,623,REGENCIA,301,CIENCIAS,2025-04-03,2025-04-30,28,3,0.474489,13.285702
592,Abril,ESCOLA P,ABC16,Maxwell Santos Rocha,623,REGENCIA,301,CIENCIAS,2025-04-30,2025-04-30,1,6,0.857142,0.857142
685,Abril,ESCOLA Q,ABC17,Carlos Nakagawa,908,REGENCIA,901,FISICA,2025-04-01,2025-04-29,29,8,0.463054,13.428564
686,Abril,ESCOLA Q,ABC17,Carlos Nakagawa,908,REGENCIA,901,FISICA,2025-04-07,2025-04-30,24,4,0.571428,13.714272
687,Abril,ESCOLA Q,ABC17,Carlos Nakagawa,908,REGENCIA,901,FISICA,2025-04-30,2025-04-30,1,8,1.142857,1.142857
701,Abril,ESCOLA R,ABC18,Joana Zanatta,667,REGENCIA,6362,ESTUDO ORIENTADO I,2025-04-01,2025-04-29,29,6,0.857142,24.857118
702,Abril,ESCOLA R,ABC18,Joana Zanatta,667,REGENCIA,6362,ESTUDO ORIENTADO I,2025-04-08,2025-04-30,23,12,1.714285,39.428555
703,Abril,ESCOLA R,ABC18,Joana Zanatta,667,REGENCIA,6362,ESTUDO ORIENTADO I,2025-04-30,2025-04-30,1,24,3.428571,3.428571
897,Abril,ESCOLA U,ABC20,Guilherme Alves Nakagawa,566,REGENCIA,401,GEOGRAFIA,2025-04-01,2025-04-30,30,30,4.285714,128.571420
899,Abril,ESCOLA U,ABC20,Guilherme Alves Nakagawa,566,REGENCIA,6365,CORRESP SOCIAL SUSTENT I,2025-04-01,2025-04-30,30,4,0.571428,17.142840
900,Abril,ESCOLA U,ABC20,Guilherme Alves Nakagawa,566,REGENCIA,6365,CORRESP SOCIAL SUSTENT I,2025-04-01,2025-04-30,30,12,1.714285,51.428550
947,Abril,ESCOLA U,ABC20,Adriana Leite,579,REGENCIA,601,EDUCACAO FISICA,2025-04-01,2025-04-05,5,28,4.000000,20.000000
948,Abril,ESCOLA U,ABC20,Adriana Leite,579,REGENCIA,601,EDUCACAO FISICA,2025-04-01,2025-04-29,29,16,2.049261,59.428570
949,Abril,ESCOLA U,ABC20,Adriana Leite,579,REGENCIA,601,EDUCACAO FISICA,2025-04-06,2025-04-30,25,8,1.520000,37.999990
950,Abril,ESCOLA U,ABC20,Adriana Leite,579,REGENCIA,601,EDUCACAO FISICA,2025-04-30,2025-04-30,1,20,2.857142,2.857142
1323,Abril,ESCOLA AB,ABC25,Eduardo Queiroz,355,REGENCIA,401,GEOGRAFIA,2025-04-01,2025-04-03,3,16,2.285714,6.857142
1324,Abril,ESCOLA AB,ABC25,Eduardo Queiroz,355,REGENCIA,401,GEOGRAFIA,2025-04-01,2025-04-29,29,30,1.467980,42.571424
1325,Abril,ESCOLA AB,ABC25,Eduardo Queiroz,355,REGENCIA,401,GEOGRAFIA,2025-04-04,2025-04-30,27,15,2.148148,57.999996
1326,Abril,ESCOLA AB,ABC25,Eduardo Queiroz,355,REGENCIA,401,GEOGRAFIA,2025-04-30,2025-04-30,1,30,4.285714,4.285714
1510,Abril,ESCOLA AE,ABC28,Benício Rodrigues Galvão,470,REGENCIA,1001,BIOLOGIA,2025-04-01,2025-04-30,30,2,0.285714,8.571420
1511,Abril,ESCOLA AE,ABC28,Benício Rodrigues Galvão,470,REGENCIA,1001,BIOLOGIA,2025-04-10,2025-04-16,7,8,1.142857,7.999999
1641,Abril,ESCOLA AG,ABC30,Ivan Cavalcante,312,REGENCIA,106,LINGUA PORTUGUESA,2025-04-01,2025-04-30,30,12,1.714285,51.428550
1642,Abril,ESCOLA AG,ABC30,Ivan Cavalcante,312,REGENCIA,106,LINGUA PORTUGUESA,2025-04-01,2025-04-30,30,24,3.428571,102.857130
1769,Abril,ESCOLA AI,ABC32,Tábata Franco,400,REGENCIA,201,MATEMATICA,2025-04-01,2025-04-29,29,15,2.142857,62.142853
1770,Abril,ESCOLA AI,ABC32,Tábata Franco,400,REGENCIA,201,MATEMATICA,2025-04-16,2025-04-30,15,6,1.085713,16.285702
1771,Abril,ESCOLA AI,ABC32,Tábata Franco,400,REGENCIA,201,MATEMATICA,2025-04-30,2025-04-30,1,12,1.714285,1.714285
1883,Abril,ESCOLA D,ABC4,Joana Cordeiro,261,REGENCIA,2201,FILOSOFIA,2025-04-11,2025-04-30,20,4,0.571428,11.428560
1884,Abril,ESCOLA D,ABC4,Joana Cordeiro,261,REGENCIA,2201,FILOSOFIA,2025-04-11,2025-04-30,20,12,1.714285,34.285700
1928,Abril,ESCOLA E,ABC5,Ailton Ramos,213,REGENCIA,401,GEOGRAFIA,2025-04-01,2025-04-01,1,9,1.285714,1.285714
1929,Abril,ESCOLA E,ABC5,Ailton Ramos,213,REGENCIA,401,GEOGRAFIA,2025-04-15,2025-04-30,16,18,1.366071,21.857138
1938,Abril,ESCOLA E,ABC5,Rosana Castro,218,REGENCIA,401,GEOGRAFIA,2025-04-01,2025-04-01,1,12,1.714285,1.714285
1939,Abril,ESCOLA E,ABC5,Rosana Castro,218,REGENCIA,401,GEOGRAFIA,2025-04-15,2025-04-30,16,12,0.964285,15.428558
2186,Abril,ESCOLA H,ABC8,Naiara Nakashima,801,REGENCIA,704,ARTE,2025-04-01,2025-04-28,28,20,1.734693,48.571414
2187,Abril,ESCOLA H,ABC8,Naiara Nakashima,801,REGENCIA,704,ARTE,2025-04-07,2025-04-29,23,10,1.329192,30.571419
2188,Abril,ESCOLA H,ABC8,Naiara Nakashima,801,REGENCIA,704,ARTE,2025-04-29,2025-04-30,2,8,1.714285,3.428571
2189,Abril,ESCOLA H,ABC8,Naiara Nakashima,801,REGENCIA,704,ARTE,2025-04-30,2025-04-30,1,4,0.571428,0.571428
2194,Abril,ESCOLA H,ABC8,Enzo Alves,804,REGENCIA,704,ARTE,2025-04-01,2025-04-06,6,16,2.285714,13.714284
2195,Abril,ESCOLA H,ABC8,Enzo Alves,804,REGENCIA,704,ARTE,2025-04-01,2025-04-29,29,24,1.615763,46.857137
2196,Abril,ESCOLA H,ABC8,Enzo Alves,804,REGENCIA,704,ARTE,2025-04-07,2025-04-30,24,12,1.738095,41.714269
2197,Abril,ESCOLA H,ABC8,Enzo Alves,804,REGENCIA,704,ARTE,2025-04-30,2025-04-30,1,24,3.428571,3.428571
2279,Abril,ESCOLA I,ABC9,Sandra Werneck,905,REGENCIA,401,GEOGRAFIA,2025-04-09,2025-04-29,21,15,2.142857,44.999997
2280,Abril,ESCOLA I,ABC9,Sandra Werneck,905,REGENCIA,401,GEOGRAFIA,2025-04-15,2025-04-15,1,8,1.142857,1.142857
2281,Abril,ESCOLA I,ABC9,Sandra Werneck,905,REGENCIA,401,GEOGRAFIA,2025-04-30,2025-04-30,1,30,4.285714,4.285714

Nesses casos, consideraremos o seguinte: Calcularemos o intervalo de tempo regente entre a primeira data encontrada e a última. Após isso iremos somar o ch_periodo e reconsiderar a ch_diaria com base em ch_periodo somado e dias trablhados corrigidos.

In [446]:
dup_keys = double_or_more_ocurrencies[['mes','codigo_escola','codigo_funcionario','disciplina_funcao']]


to_agg   = gov_payroll.merge(dup_keys, on=agg_keys, how='inner')
to_keep  = gov_payroll.merge(dup_keys, on=agg_keys, how='left', indicator=True)
to_keep  = to_keep[to_keep['_merge']=='left_only'].drop(columns=['_merge'])


to_agg.shape,to_keep.shape

((65, 14), (6341, 14))

In [447]:
numeric_sum = ['ch_total']
date_minmax = {'periodo_ini':'min','periodo_fim':'max'}
agg_first   = {c:'first' for c in gov_payroll.columns
               if c not in agg_keys + numeric_sum + list(date_minmax)}

agg_dict = {**agg_first, **date_minmax, **{c:'sum' for c in numeric_sum}}

In [448]:
agg = (
    to_agg
    .groupby(agg_keys, as_index=False)
    .agg(agg_dict)
)

agg['ch_diaria'] = agg['ch_total'] / agg['dias_trabalhados']
agg['dias_trabalhados'] = (agg['periodo_fim'] - agg['periodo_ini']).dt.days + 1

In [449]:
agg.head()

,mes,codigo_escola,codigo_funcionario,disciplina_funcao,escola,nome_funcionario,categoria,disciplina_funcao_descricao,dias_trabalhados,ch_suprimento,ch_diaria,periodo_ini,periodo_fim,ch_total
0,Abril,ABC10,729,401,ESCOLA J,Kauê Sales,REGENCIA,GEOGRAFIA,30,14,3.275862,2025-04-01,2025-04-30,94.999989
1,Abril,ABC12,817,704,ESCOLA L,Jacira Goulart,REGENCIA,ARTE,30,6,1.950738,2025-04-01,2025-04-30,56.571394
2,Abril,ABC13,871,367,ESCOLA M,Luiza Dias,REGENCIA,REDACAO E LEITURA,30,4,0.985221,2025-04-01,2025-04-30,28.571401
3,Abril,ABC13,872,301,ESCOLA M,Isabella Lemos,REGENCIA,CIENCIAS,30,12,6.690472,2025-04-01,2025-04-30,40.142829
4,Abril,ABC15,1748,106,ESCOLA O,Antônia Cavalcanti,REGENCIA,LINGUA PORTUGUESA,20,6,5.142856,2025-04-11,2025-04-30,102.857120

In [450]:
final = pd.concat([to_keep, agg], ignore_index=True, sort=False)

final.head()

,mes,escola,codigo_escola,nome_funcionario,codigo_funcionario,categoria,disciplina_funcao,disciplina_funcao_descricao,periodo_ini,periodo_fim,dias_trabalhados,ch_suprimento,ch_diaria,ch_total
0,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,REGENCIA,4024,NOCOES DE DIREITO,2025-04-01,2025-04-30,30,2,0.285714,8.57142
1,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,REGENCIA,4129,PRINCIPIOS DE ADMINISTRACAO,2025-04-01,2025-04-30,30,2,0.285714,8.57142
2,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,REGENCIA,4450,RECURSOS HUMANOS,2025-04-01,2025-04-30,30,4,0.571428,17.14284
3,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,REGENCIA,4767,TECNOLOGIAS E FERRAM DE GESTAO,2025-04-01,2025-04-30,30,2,0.285714,8.57142
4,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,NAO REGENCIA,9220,COORD DE CURSO,2025-04-01,2025-04-30,30,15,2.142857,64.28571

In [451]:
dup_counts = (
    final
    .groupby(['mes', 'codigo_escola', 'codigo_funcionario', 'disciplina_funcao'])
    .size()
    .reset_index(name='n_ocorrencias')
)


still_duplicates = dup_counts[dup_counts['n_ocorrencias'] > 1]

print(still_duplicates)

Empty DataFrame
Columns: [mes, codigo_escola, codigo_funcionario, disciplina_funcao, n_ocorrencias]
Index: []

In [452]:
tom_payroll.head()

,mes,escola,codigo_escola,nome,codigo_funcionario,situacao,data_admissao,descricao_cargo,descricao_verba,ch_total,categoria,data_demissao,fator
0,Fevereiro,ESCOLA A,ABC1,Andressa Aguiar,100,Trabalhando,2025-02-03,COORDENADOR(A) DE CURSO,HORAS,70.0,NAO REGENCIA,NaT,5.0
1,Fevereiro,ESCOLA A,ABC1,Andressa Aguiar,100,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,45.0,REGENCIA,NaT,4.5
2,Fevereiro,ESCOLA A,ABC1,Márcio Wagner,101,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,27.0,REGENCIA,NaT,4.5
3,Fevereiro,ESCOLA A,ABC1,Igor Souza Quirino,102,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,49.5,REGENCIA,NaT,4.5
4,Fevereiro,ESCOLA A,ABC1,João Miguel Oliveira Vieira,103,Trabalhando,2025-02-03,PROFESSOR(A),HORAS,40.5,REGENCIA,NaT,4.5

Agora, com o dataset do governo preparado, vamos olhar para os dados de tom e ver se essas ocorrencias foram calculadas de forma erronea igualmente.

In [453]:
grouped_tom =(
    tom_payroll
    .groupby(['mes', 'codigo_escola', 'codigo_funcionario', 'categoria', 'descricao_cargo'])
    .size()
    .reset_index(name='n_ocorrencias')
)

double_or_more_ocurrencies_tom = grouped_tom[grouped_tom['n_ocorrencias'] > 1]

print(double_or_more_ocurrencies_tom.shape)
double_or_more_ocurrencies_tom.head()

(268, 6)

,mes,codigo_escola,codigo_funcionario,categoria,descricao_cargo,n_ocorrencias
45,Abril,ABC10,729,REGENCIA,PROFESSOR(A),2
68,Abril,ABC11,833,REGENCIA,PROFESSOR(A),2
72,Abril,ABC11,837,REGENCIA,PROFESSOR(A),2
76,Abril,ABC11,841,REGENCIA,PROFESSOR(A),2
77,Abril,ABC11,842,REGENCIA,PROFESSOR(A),2

In [454]:
mask = (tom_payroll['mes'] == 'Abril') & (tom_payroll['codigo_escola'] == 'ABC10') & (tom_payroll['codigo_funcionario'] == 729)

tom_payroll[mask]

,mes,escola,codigo_escola,nome,codigo_funcionario,situacao,data_admissao,descricao_cargo,descricao_verba,ch_total,categoria,data_demissao,fator
2865,Abril,ESCOLA J,ABC10,Kauê Sales,729,Trabalhando,NaT,PROFESSOR(A),HORAS,63.0,REGENCIA,NaT,4.5
2866,Abril,ESCOLA J,ABC10,Kauê Sales,729,Trabalhando,NaT,PROFESSOR(A),HORAS,16.0,REGENCIA,NaT,4.5

Percebemos casos semelhantes ao da base do governo, os quais alguns professores em determinadas escolar e exercendo os mesmos cargos (por categoria e descricao) possuem entradas duplicadas. Podemos, ainda, nota que estes registros possuem cargas diferentes. Para tornar as bases comparáveis devemos entender que estes casos devem ser juntados, uma vez que, no sentido de folha de pagamento, representam cargas horárias totais.

In [455]:
agg_keys = [
    'mes',
    'codigo_escola',
    'codigo_funcionario',
    'categoria',
    'descricao_cargo'
]

agg_dict = {
    'ch_total': 'sum',
    'escola': 'first',
    'nome': 'first',
    'situacao': 'first',
    'data_admissao': 'first',
    'descricao_verba': 'first',
    'data_demissao': 'first',
    'fator': 'first',
}

In [456]:
agged = (
    tom_payroll
    .groupby(agg_keys, as_index=False)
    .agg(agg_dict)
)

In [457]:
print("linhas originais:", tom_payroll.shape[0])
print("linhas após agregação:", agged.shape[0])
agged.head()

linhas originais: 3076
linhas após agregação: 2797

,mes,codigo_escola,codigo_funcionario,categoria,descricao_cargo,ch_total,escola,nome,situacao,data_admissao,descricao_verba,data_demissao,fator
0,Abril,ABC1,100,NAO REGENCIA,COORDENADOR(A) DE CURSO,125.0,ESCOLA A,Andressa Aguiar,Trabalhando,NaT,HORAS,NaT,5.0
1,Abril,ABC1,100,REGENCIA,PROFESSOR(A),45.0,ESCOLA A,Andressa Aguiar,Trabalhando,NaT,HORAS,NaT,4.5
2,Abril,ABC1,101,REGENCIA,PROFESSOR(A),27.0,ESCOLA A,Márcio Wagner,Trabalhando,NaT,HORAS,NaT,4.5
3,Abril,ABC1,102,REGENCIA,PROFESSOR(A),49.5,ESCOLA A,Igor Souza Quirino,Trabalhando,NaT,HORAS,NaT,4.5
4,Abril,ABC1,103,REGENCIA,PROFESSOR(A),90.0,ESCOLA A,João Miguel Oliveira Vieira,Trabalhando,NaT,HORAS,NaT,4.5

Analise Comparativa

Como as bases ja estao devidamente limpas e suas nuances tratadas, vamos começar o processo de juncao para garantir que os dados se tornem comparaveis.

In [458]:
tom_payroll = agged
gov_payroll = final

tom_payroll.shape, gov_payroll.shape

((2797, 13), (6363, 14))

In [459]:
tom_payroll.head()

,mes,codigo_escola,codigo_funcionario,categoria,descricao_cargo,ch_total,escola,nome,situacao,data_admissao,descricao_verba,data_demissao,fator
0,Abril,ABC1,100,NAO REGENCIA,COORDENADOR(A) DE CURSO,125.0,ESCOLA A,Andressa Aguiar,Trabalhando,NaT,HORAS,NaT,5.0
1,Abril,ABC1,100,REGENCIA,PROFESSOR(A),45.0,ESCOLA A,Andressa Aguiar,Trabalhando,NaT,HORAS,NaT,4.5
2,Abril,ABC1,101,REGENCIA,PROFESSOR(A),27.0,ESCOLA A,Márcio Wagner,Trabalhando,NaT,HORAS,NaT,4.5
3,Abril,ABC1,102,REGENCIA,PROFESSOR(A),49.5,ESCOLA A,Igor Souza Quirino,Trabalhando,NaT,HORAS,NaT,4.5
4,Abril,ABC1,103,REGENCIA,PROFESSOR(A),90.0,ESCOLA A,João Miguel Oliveira Vieira,Trabalhando,NaT,HORAS,NaT,4.5

In [460]:
gov_payroll.head()

,mes,escola,codigo_escola,nome_funcionario,codigo_funcionario,categoria,disciplina_funcao,disciplina_funcao_descricao,periodo_ini,periodo_fim,dias_trabalhados,ch_suprimento,ch_diaria,ch_total
0,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,REGENCIA,4024,NOCOES DE DIREITO,2025-04-01,2025-04-30,30,2,0.285714,8.57142
1,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,REGENCIA,4129,PRINCIPIOS DE ADMINISTRACAO,2025-04-01,2025-04-30,30,2,0.285714,8.57142
2,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,REGENCIA,4450,RECURSOS HUMANOS,2025-04-01,2025-04-30,30,4,0.571428,17.14284
3,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,REGENCIA,4767,TECNOLOGIAS E FERRAM DE GESTAO,2025-04-01,2025-04-30,30,2,0.285714,8.57142
4,Abril,ESCOLA A,ABC1,Andressa Aguiar,100,NAO REGENCIA,9220,COORD DE CURSO,2025-04-01,2025-04-30,30,15,2.142857,64.28571

In [461]:
tom_agg_keys = ['mes', 'codigo_escola', 'codigo_funcionario', 'categoria']
gov_agg_keys = ['mes', 'codigo_escola', 'codigo_funcionario', 'categoria']

tom_agg_dict = {
    'ch_total': 'sum',
    'fator': 'first'
}

gov_agg_dict = {
    'ch_total': 'sum',
    'ch_diaria': 'sum',
    'dias_trabalhados': 'max',
    'ch_suprimento': 'sum'
}

In [462]:
tom_payroll_agged_by_category = (
    tom_payroll
    .groupby(tom_agg_keys)
    .agg(tom_agg_dict)
    .reset_index()
)

tom_payroll_agged_by_category.head()

     mes codigo_escola  codigo_funcionario     categoria  ch_total  fator
0  Abril          ABC1                 100  NAO REGENCIA     125.0    5.0
1  Abril          ABC1                 100      REGENCIA      45.0    4.5
2  Abril          ABC1                 101      REGENCIA      27.0    4.5
3  Abril          ABC1                 102      REGENCIA      49.5    4.5
4  Abril          ABC1                 103      REGENCIA      90.0    4.5

In [463]:
tom_payroll_agged_by_category['ch_diaria'] = tom_payroll_agged_by_category['ch_total'] / (tom_payroll_agged_by_category['fator'] * 7)

tom_payroll_agged_by_category.head()

,mes,codigo_escola,codigo_funcionario,categoria,ch_total,fator,ch_diaria
0,Abril,ABC1,100,NAO REGENCIA,125.0,5.0,3.571429
1,Abril,ABC1,100,REGENCIA,45.0,4.5,1.428571
2,Abril,ABC1,101,REGENCIA,27.0,4.5,0.857143
3,Abril,ABC1,102,REGENCIA,49.5,4.5,1.571429
4,Abril,ABC1,103,REGENCIA,90.0,4.5,2.857143

In [464]:
gov_payroll_agged_by_category = (
    gov_payroll
    .groupby(gov_agg_keys)
    .agg(gov_agg_dict)
    .reset_index()
)

gov_payroll_agged_by_category.head()

,mes,codigo_escola,codigo_funcionario,categoria,ch_total,ch_diaria,dias_trabalhados,ch_suprimento
0,Abril,ABC1,100,NAO REGENCIA,64.28571,2.142857,30,15
1,Abril,ABC1,100,REGENCIA,42.85710,1.428570,30,10
2,Abril,ABC1,101,REGENCIA,25.71426,0.857142,30,6
3,Abril,ABC1,102,REGENCIA,47.14281,1.571427,30,11
4,Abril,ABC1,103,REGENCIA,38.57139,1.285713,30,9

In [465]:
common_keys = ['mes', 'codigo_escola', 'codigo_funcionario', 'categoria']

final_table = pd.merge(
    tom_payroll_agged_by_category,
    gov_payroll_agged_by_category,
    on=common_keys,
    how='outer',
    suffixes=('_tom', '_gov')
)

In [467]:
print(final_table.shape)
final_table.head()

(2821, 11)

,mes,codigo_escola,codigo_funcionario,categoria,ch_total_tom,fator,ch_diaria_tom,ch_total_gov,ch_diaria_gov,dias_trabalhados,ch_suprimento
0,Abril,ABC1,100,NAO REGENCIA,125.0,5.0,3.571429,64.28571,2.142857,30.0,15.0
1,Abril,ABC1,100,REGENCIA,45.0,4.5,1.428571,42.85710,1.428570,30.0,10.0
2,Abril,ABC1,101,REGENCIA,27.0,4.5,0.857143,25.71426,0.857142,30.0,6.0
3,Abril,ABC1,102,REGENCIA,49.5,4.5,1.571429,47.14281,1.571427,30.0,11.0
4,Abril,ABC1,103,REGENCIA,90.0,4.5,2.857143,38.57139,1.285713,30.0,9.0

In [468]:
final_table.isna().sum()

mes                     0
codigo_escola           0
codigo_funcionario      0
categoria               0
ch_total_tom           43
fator                  43
ch_diaria_tom          43
ch_total_gov          142
ch_diaria_gov         142
dias_trabalhados      142
ch_suprimento         142
dtype: int64

In [ ]:

gov_only = final_table[final_table['ch_total_tom'].isna()]

tom_only = final_table[final_table['ch_total_gov'].isna()]

tom_only

,mes,codigo_escola,codigo_funcionario,categoria,ch_total_tom,fator,ch_diaria_tom,ch_total_gov,ch_diaria_gov,dias_trabalhados,ch_suprimento
148,Abril,ABC13,1741,REGENCIA,24.00,4.5,0.761905,NaN,NaN,NaN,NaN
155,Abril,ABC14,475,NAO REGENCIA,4.00,5.0,0.114286,NaN,NaN,NaN,NaN
187,Abril,ABC14,502,NAO REGENCIA,125.00,5.0,3.571429,NaN,NaN,NaN,NaN
194,Abril,ABC14,509,NAO REGENCIA,75.00,5.0,2.142857,NaN,NaN,NaN,NaN
198,Abril,ABC14,1746,NAO REGENCIA,11.00,5.0,0.314286,NaN,NaN,NaN,NaN
265,Abril,ABC16,1766,REGENCIA,4.05,4.5,0.128571,NaN,NaN,NaN,NaN
325,Abril,ABC19,546,REGENCIA,34.80,4.5,1.104762,NaN,NaN,NaN,NaN
327,Abril,ABC19,548,REGENCIA,2.10,4.5,0.066667,NaN,NaN,NaN,NaN
365,Abril,ABC2,886,NAO REGENCIA,200.00,5.0,5.714286,NaN,NaN,NaN,NaN
389,Abril,ABC20,576,NAO REGENCIA,19.17,5.0,0.547714,NaN,NaN,NaN,NaN
432,Abril,ABC22,636,REGENCIA,2.40,4.5,0.076190,NaN,NaN,NaN,NaN
443,Abril,ABC22,645,NAO REGENCIA,125.00,5.0,3.571429,NaN,NaN,NaN,NaN
498,Abril,ABC24,376,NAO REGENCIA,25.00,5.0,0.714286,NaN,NaN,NaN,NaN
508,Abril,ABC24,890,REGENCIA,31.50,4.5,1.000000,NaN,NaN,NaN,NaN
618,Abril,ABC28,1329,REGENCIA,18.00,4.5,0.571429,NaN,NaN,NaN,NaN
630,Abril,ABC29,456,NAO REGENCIA,40.00,5.0,1.142857,NaN,NaN,NaN,NaN
634,Abril,ABC29,459,NAO REGENCIA,40.00,5.0,1.142857,NaN,NaN,NaN,NaN
637,Abril,ABC29,461,NAO REGENCIA,40.00,5.0,1.142857,NaN,NaN,NaN,NaN
640,Abril,ABC29,463,NAO REGENCIA,40.00,5.0,1.142857,NaN,NaN,NaN,NaN
661,Abril,ABC3,185,NAO REGENCIA,75.00,5.0,2.142857,NaN,NaN,NaN,NaN
767,Abril,ABC4,127,NAO REGENCIA,40.00,5.0,1.142857,NaN,NaN,NaN,NaN
778,Abril,ABC4,135,NAO REGENCIA,75.00,5.0,2.142857,NaN,NaN,NaN,NaN
787,Abril,ABC4,144,NAO REGENCIA,40.00,5.0,1.142857,NaN,NaN,NaN,NaN
822,Abril,ABC5,225,REGENCIA,32.00,4.5,1.015873,NaN,NaN,NaN,NaN
836,Abril,ABC6,230,NAO REGENCIA,100.00,5.0,2.857143,NaN,NaN,NaN,NaN
837,Abril,ABC6,231,NAO REGENCIA,75.00,5.0,2.142857,NaN,NaN,NaN,NaN
844,Abril,ABC6,237,NAO REGENCIA,100.00,5.0,2.857143,NaN,NaN,NaN,NaN
851,Abril,ABC6,244,NAO REGENCIA,25.00,5.0,0.714286,NaN,NaN,NaN,NaN
889,Abril,ABC7,882,NAO REGENCIA,200.00,5.0,5.714286,NaN,NaN,NaN,NaN
891,Abril,ABC7,992,REGENCIA,18.00,4.5,0.571429,NaN,NaN,NaN,NaN
938,Abril,ABC8,910,NAO REGENCIA,100.00,5.0,2.857143,NaN,NaN,NaN,NaN
975,Abril,ABC9,1759,REGENCIA,5.00,4.5,0.158730,NaN,NaN,NaN,NaN
984,Fevereiro,ABC1,107,REGENCIA,56.10,4.5,1.780952,NaN,NaN,NaN,NaN
987,Fevereiro,ABC1,110,REGENCIA,58.50,4.5,1.857143,NaN,NaN,NaN,NaN
996,Fevereiro,ABC1,117,REGENCIA,54.00,4.5,1.714286,NaN,NaN,NaN,NaN
1006,Fevereiro,ABC10,718,NAO REGENCIA,93.33,5.0,2.666571,NaN,NaN,NaN,NaN
1008,Fevereiro,ABC10,720,REGENCIA,54.00,4.5,1.714286,NaN,NaN,NaN,NaN
1014,Fevereiro,ABC10,725,NAO REGENCIA,93.33,5.0,2.666571,NaN,NaN,NaN,NaN
1015,Fevereiro,ABC10,726,REGENCIA,81.00,4.5,2.571429,NaN,NaN,NaN,NaN
1023,Fevereiro,ABC10,733,NAO REGENCIA,186.67,5.0,5.333429,NaN,NaN,NaN,NaN
1025,Fevereiro,ABC10,735,NAO REGENCIA,93.33,5.0,2.666571,NaN,NaN,NaN,NaN
1026,Fevereiro,ABC10,736,REGENCIA,76.50,4.5,2.428571,NaN,NaN,NaN,NaN
1027,Fevereiro,ABC10,737,NAO REGENCIA,93.33,5.0,2.666571,NaN,NaN,NaN,NaN
1115,Fevereiro,ABC14,475,NAO REGENCIA,14.00,5.0,0.400000,NaN,NaN,NaN,NaN
1148,Fevereiro,ABC14,502,NAO REGENCIA,93.33,5.0,2.666571,NaN,NaN,NaN,NaN
1149,Fevereiro,ABC14,503,REGENCIA,12.00,4.5,0.380952,NaN,NaN,NaN,NaN
1154,Fevereiro,ABC14,508,NAO REGENCIA,23.33,5.0,0.666571,NaN,NaN,NaN,NaN
1161,Fevereiro,ABC15,508,REGENCIA,9.00,4.5,0.285714,NaN,NaN,NaN,NaN
1228,Fevereiro,ABC17,705,NAO REGENCIA,3.20,5.0,0.091429,NaN,NaN,NaN,NaN
1229,Fevereiro,ABC17,705,REGENCIA,32.40,4.5,1.028571,NaN,NaN,NaN,NaN
1322,Fevereiro,ABC20,565,NAO REGENCIA,186.67,5.0,5.333429,NaN,NaN,NaN,NaN
1336,Fevereiro,ABC20,578,NAO REGENCIA,186.67,5.0,5.333429,NaN,NaN,NaN,NaN
1441,Fevereiro,ABC24,380,REGENCIA,38.25,4.5,1.214286,NaN,NaN,NaN,NaN
1454,Fevereiro,ABC25,341,NAO REGENCIA,93.33,5.0,2.666571,NaN,NaN,NaN,NaN
1476,Fevereiro,ABC25,362,REGENCIA,47.25,4.5,1.500000,NaN,NaN,NaN,NaN
1478,Fevereiro,ABC25,364,REGENCIA,1.80,4.5,0.057143,NaN,NaN,NaN,NaN
1480,Fevereiro,ABC25,366,NAO REGENCIA,1.83,5.0,0.052286,NaN,NaN,NaN,NaN
1481,Fevereiro,ABC25,366,REGENCIA,6.00,4.5,0.190476,NaN,NaN,NaN,NaN
1485,Fevereiro,ABC26,273,NAO REGENCIA,102.67,5.0,2.933429,NaN,NaN,NaN,NaN
1489,Fevereiro,ABC26,276,REGENCIA,14.85,4.5,0.471429,NaN,NaN,NaN,NaN
1497,Fevereiro,ABC26,284,NAO REGENCIA,9.33,5.0,0.266571,NaN,NaN,NaN,NaN
1504,Fevereiro,ABC26,290,NAO REGENCIA,88.00,5.0,2.514286,NaN,NaN,NaN,NaN
1509,Fevereiro,ABC27,387,REGENCIA,0.45,4.5,0.014286,NaN,NaN,NaN,NaN
1538,Fevereiro,ABC28,304,NAO REGENCIA,33.33,5.0,0.952286,NaN,NaN,NaN,NaN
1546,Fevereiro,ABC29,403,NAO REGENCIA,140.00,5.0,4.000000,NaN,NaN,NaN,NaN
1550,Fevereiro,ABC29,452,NAO REGENCIA,140.00,5.0,4.000000,NaN,NaN,NaN,NaN
1552,Fevereiro,ABC29,454,REGENCIA,60.00,4.5,1.904762,NaN,NaN,NaN,NaN
1554,Fevereiro,ABC29,456,NAO REGENCIA,229.83,5.0,6.566571,NaN,NaN,NaN,NaN
1558,Fevereiro,ABC29,459,NAO REGENCIA,145.75,5.0,4.164286,NaN,NaN,NaN,NaN
1561,Fevereiro,ABC29,461,NAO REGENCIA,114.75,5.0,3.278571,NaN,NaN,NaN,NaN
1564,Fevereiro,ABC29,463,NAO REGENCIA,37.33,5.0,1.066571,NaN,NaN,NaN,NaN
1584,Fevereiro,ABC3,185,NAO REGENCIA,70.00,5.0,2.000000,NaN,NaN,NaN,NaN
1680,Fevereiro,ABC4,127,NAO REGENCIA,51.33,5.0,1.466571,NaN,NaN,NaN,NaN
1690,Fevereiro,ABC4,135,NAO REGENCIA,45.00,5.0,1.285714,NaN,NaN,NaN,NaN
1693,Fevereiro,ABC4,137,NAO REGENCIA,76.67,5.0,2.190571,NaN,NaN,NaN,NaN
1700,Fevereiro,ABC4,144,NAO REGENCIA,205.33,5.0,5.866571,NaN,NaN,NaN,NaN
1734,Fevereiro,ABC5,225,REGENCIA,27.00,4.5,0.857143,NaN,NaN,NaN,NaN
1744,Fevereiro,ABC6,230,NAO REGENCIA,56.67,5.0,1.619143,NaN,NaN,NaN,NaN
1745,Fevereiro,ABC6,231,NAO REGENCIA,70.00,5.0,2.000000,NaN,NaN,NaN,NaN
1752,Fevereiro,ABC6,237,NAO REGENCIA,70.00,5.0,2.000000,NaN,NaN,NaN,NaN
1758,Fevereiro,ABC6,243,NAO REGENCIA,93.33,5.0,2.666571,NaN,NaN,NaN,NaN
1759,Fevereiro,ABC6,244,NAO REGENCIA,205.33,5.0,5.866571,NaN,NaN,NaN,NaN
1761,Fevereiro,ABC6,245,NAO REGENCIA,93.33,5.0,2.666571,NaN,NaN,NaN,NaN
1765,Fevereiro,ABC6,249,NAO REGENCIA,186.67,5.0,5.333429,NaN,NaN,NaN,NaN
1773,Fevereiro,ABC7,147,REGENCIA,200.00,4.5,6.349206,NaN,NaN,NaN,NaN
1782,Fevereiro,ABC7,156,REGENCIA,200.00,4.5,6.349206,NaN,NaN,NaN,NaN
1792,Fevereiro,ABC7,166,REGENCIA,200.00,4.5,6.349206,NaN,NaN,NaN,NaN
1794,Fevereiro,ABC7,168,REGENCIA,46.80,4.5,1.485714,NaN,NaN,NaN,NaN
1795,Fevereiro,ABC7,169,REGENCIA,180.00,4.5,5.714286,NaN,NaN,NaN,NaN
1800,Fevereiro,ABC7,174,REGENCIA,200.00,4.5,6.349206,NaN,NaN,NaN,NaN
1804,Fevereiro,ABC7,178,NAO REGENCIA,200.00,5.0,5.714286,NaN,NaN,NaN,NaN
1833,Fevereiro,ABC8,790,REGENCIA,33.33,4.5,1.058095,NaN,NaN,NaN,NaN
1852,Fevereiro,ABC8,808,REGENCIA,94.50,4.5,3.000000,NaN,NaN,NaN,NaN
1869,Fevereiro,ABC9,759,REGENCIA,24.00,4.5,0.761905,NaN,NaN,NaN,NaN
1898,Março,ABC1,117,REGENCIA,34.20,4.5,1.085714,NaN,NaN,NaN,NaN
1912,Março,ABC10,718,NAO REGENCIA,100.00,5.0,2.857143,NaN,NaN,NaN,NaN
1914,Março,ABC10,720,REGENCIA,54.00,4.5,1.714286,NaN,NaN,NaN,NaN
1920,Março,ABC10,725,NAO REGENCIA,100.00,5.0,2.857143,NaN,NaN,NaN,NaN
1921,Março,ABC10,726,REGENCIA,81.00,4.5,2.571429,NaN,NaN,NaN,NaN
1929,Março,ABC10,733,NAO REGENCIA,200.00,5.0,5.714286,NaN,NaN,NaN,NaN
1931,Março,ABC10,735,NAO REGENCIA,100.00,5.0,2.857143,NaN,NaN,NaN,NaN
1932,Março,ABC10,736,REGENCIA,76.50,4.5,2.428571,NaN,NaN,NaN,NaN
1933,Março,ABC10,737,NAO REGENCIA,100.00,5.0,2.857143,NaN,NaN,NaN,NaN
2028,Março,ABC14,475,NAO REGENCIA,15.00,5.0,0.428571,NaN,NaN,NaN,NaN
2061,Março,ABC14,502,NAO REGENCIA,125.00,5.0,3.571429,NaN,NaN,NaN,NaN
2066,Março,ABC14,508,NAO REGENCIA,25.00,5.0,0.714286,NaN,NaN,NaN,NaN
2072,Março,ABC15,508,REGENCIA,11.40,4.5,0.361905,NaN,NaN,NaN,NaN
2135,Março,ABC16,896,REGENCIA,12.00,4.5,0.380952,NaN,NaN,NaN,NaN
2228,Março,ABC2,886,NAO REGENCIA,173.33,5.0,4.952286,NaN,NaN,NaN,NaN
2241,Março,ABC20,565,NAO REGENCIA,200.00,5.0,5.714286,NaN,NaN,NaN,NaN
2255,Março,ABC20,578,NAO REGENCIA,200.00,5.0,5.714286,NaN,NaN,NaN,NaN
2286,Março,ABC21,894,NAO REGENCIA,9.33,5.0,0.266571,NaN,NaN,NaN,NaN
2325,Março,ABC22,898,REGENCIA,22.50,4.5,0.714286,NaN,NaN,NaN,NaN
2370,Março,ABC24,890,REGENCIA,31.50,4.5,1.000000,NaN,NaN,NaN,NaN
2378,Março,ABC25,341,NAO REGENCIA,100.00,5.0,2.857143,NaN,NaN,NaN,NaN
2473,Março,ABC29,403,NAO REGENCIA,113.60,5.0,3.245714,NaN,NaN,NaN,NaN
2480,Março,ABC29,456,NAO REGENCIA,40.00,5.0,1.142857,NaN,NaN,NaN,NaN
2484,Março,ABC29,459,NAO REGENCIA,40.00,5.0,1.142857,NaN,NaN,NaN,NaN
2487,Março,ABC29,461,NAO REGENCIA,40.00,5.0,1.142857,NaN,NaN,NaN,NaN
2490,Março,ABC29,463,NAO REGENCIA,40.00,5.0,1.142857,NaN,NaN,NaN,NaN
2510,Março,ABC3,185,NAO REGENCIA,75.00,5.0,2.142857,NaN,NaN,NaN,NaN
2569,Março,ABC31,436,REGENCIA,2.25,4.5,0.071429,NaN,NaN,NaN,NaN
2615,Março,ABC4,127,NAO REGENCIA,40.00,5.0,1.142857,NaN,NaN,NaN,NaN
2626,Março,ABC4,135,NAO REGENCIA,75.00,5.0,2.142857,NaN,NaN,NaN,NaN
2635,Março,ABC4,144,NAO REGENCIA,40.00,5.0,1.142857,NaN,NaN,NaN,NaN
2670,Março,ABC5,225,REGENCIA,27.00,4.5,0.857143,NaN,NaN,NaN,NaN
2680,Março,ABC6,230,NAO REGENCIA,100.00,5.0,2.857143,NaN,NaN,NaN,NaN
2681,Março,ABC6,231,NAO REGENCIA,75.00,5.0,2.142857,NaN,NaN,NaN,NaN
2688,Março,ABC6,237,NAO REGENCIA,105.00,5.0,3.000000,NaN,NaN,NaN,NaN
2694,Março,ABC6,243,NAO REGENCIA,125.00,5.0,3.571429,NaN,NaN,NaN,NaN
2695,Março,ABC6,244,NAO REGENCIA,25.00,5.0,0.714286,NaN,NaN,NaN,NaN
2697,Março,ABC6,245,NAO REGENCIA,200.00,5.0,5.714286,NaN,NaN,NaN,NaN
2701,Março,ABC6,249,NAO REGENCIA,100.00,5.0,2.857143,NaN,NaN,NaN,NaN
2705,Março,ABC6,1729,REGENCIA,24.00,4.5,0.761905,NaN,NaN,NaN,NaN
2706,Março,ABC6,1732,REGENCIA,88.00,4.5,2.793651,NaN,NaN,NaN,NaN
2737,Março,ABC7,178,NAO REGENCIA,220.00,5.0,6.285714,NaN,NaN,NaN,NaN
2738,Março,ABC7,882,NAO REGENCIA,86.67,5.0,2.476286,NaN,NaN,NaN,NaN
2740,Março,ABC7,1733,REGENCIA,30.00,4.5,0.952381,NaN,NaN,NaN,NaN
2787,Março,ABC8,909,REGENCIA,18.00,4.5,0.571429,NaN,NaN,NaN,NaN
2788,Março,ABC8,910,NAO REGENCIA,86.67,5.0,2.476286,NaN,NaN,NaN,NaN
2818,Março,ABC9,906,NAO REGENCIA,6.67,5.0,0.190571,NaN,NaN,NaN,NaN
2820,Março,ABC9,908,REGENCIA,28.50,4.5,0.904762,NaN,NaN,NaN,NaN